<p-card>
  <ng-template #header>
    <h4 class="py-2 ps-3">
      Truck grosses for <span class="text-danger">{{ startDate() | date: "shortDate" }}</span> -
      <span class="text-danger">{{ endDate() | date: "shortDate" }}</span>
    </h4>
    <p-divider />
  </ng-template>

  @if (isLoading()) {
    <p-skeleton class="my-2" height="20rem" width="100%" />
  } @else {
    <div class="mb-2">
      <shared-range-calendar
        [(startDate)]="startDate"
        [(endDate)]="endDate"
        (applyButtonClick)="fetchDailyGrosses()"
      />
    </div>

    <p-chart
      type="line"
      [data]="chartData()"
      [options]="chartOptions()"
      width="100%"
      height="20rem"
    />
  }
</p-card>
