<ui-autocomplete-field
  class="w-full"
  [placeholder]="placeholder()"
  optionLabel="fullName"
  [delay]="300"
  [minQueryLength]="2"
  [suggestions]="suggestedEmployees()"
  [value]="value()"
  (optionSelected)="value.set($event)"
  (cleared)="clearSelectedEmployee()"
  (completeMethod)="searchEmployee($event)"
  (touch)="touch.emit()"
  [disabled]="disabled()"
>
  <ng-template #item let-employee>
    <div class="flex items-center gap-2">
      <span class="font-bold">{{ employee.fullName }}</span>
      @if (employee.email) {
        <span class="text-muted-foreground text-sm">({{ employee.email }})</span>
      }
    </div>
  </ng-template>
</ui-autocomplete-field>
