<ui-dialog
  header="Update Employee's Role"
  [(open)]="visible"
  [modal]="true"
  [resizable]="true"
  (closed)="close()"
>
  @if (isLoading() || form().submitting()) {
    <ui-spinner />
  }

  <p>
    Are you sure that you want to change employee's role?
    <br />
    If you want to remove role from employee then select
    <strong>Remove Role</strong>
    .
  </p>

  <form [formRoot]="form">
    <div class="mb-3">
      <label for="role" class="form-label">Select Role</label>
      <ui-select-field
        [formField]="form.role"
        appendTo="body"
        [options]="roles()"
        optionValue="name"
        optionLabel="displayName"
        [showClear]="true"
        (cleared)="clearSelectedRole()"
      />
    </div>
    <div class="flex gap-2">
      <ui-button
        type="submit"
        icon="pencil"
        label="Change Role"
        [loading]="form().submitting()"
        [disabled]="isLoading()"
      />
      <ui-button
        type="button"
        icon="trash"
        label="Remove Role"
        [disabled]="isLoading() || form().submitting()"
        (click)="removeRole()"
      />
    </div>
  </form>
</ui-dialog>
