<p-dialog
  header="Update Employee's Role"
  [(visible)]="visible"
  [modal]="true"
  [resizable]="true"
  (onHide)="close()"
>
  @if (isLoading()) {
    <p-progress-spinner />
  }

  <p>
    Are you sure that you want to change employee's role? <br />
    If you want to remove role from employee then select <strong>Remove Role</strong>.
  </p>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="role" class="form-label">Select Role</label>
      <p-select
        formControlName="role"
        class="w-full"
        appendTo="body"
        [options]="roles()"
        optionValue="name"
        optionLabel="displayName"
        [showClear]="true"
        (onClear)="clearSelectedRole()"
      />
    </div>
    <div class="flex gap-2">
      <p-button type="submit" icon="pi pi-pencil" label="Change Role" [disabled]="isLoading()" />
      <p-button
        type="button"
        icon="pi pi-trash"
        label="Remove Role"
        [disabled]="isLoading()"
        (click)="removeRole()"
      />
    </div>
  </form>
</p-dialog>
