<div class="position-relative">
  <input
    type="text"
    [id]="field()"
    [name]="field()"
    class="form-control"
    [placeholder]="placeholder()"
    (input)="handleAddressInputChange($event)"
    (focusout)="handleInputFocusOut($event)"
    [(ngModel)]="addressString"
  />

  @if (searchResults().length) {
    <div class="popup">
      @for (result of searchResults(); track result.id) {
        <div class="popup-item" (click)="handleClickAddress(result)" role="presentation">
          {{ result.properties.full_address }}
        </div>
      }
    </div>
  }
</div>
