<div class="position-relative">
  <input type="text"
    [id]="field"
    [name]="field" 
    class="form-control" 
    [placeholder]="placeholder" 
    (input)="onAddressInputChange($event)"
    (focusout)="onInputFocusOut($event)"
    [(ngModel)]="address" />

  @if (searchResults.length) {
    <div class="popup">
      @for (result of searchResults; track result.id) {
        <div class="popup-item" 
          (click)="onClickAddress(result.place_name, result.center)"
          role="presentation">
          {{result.place_name}}
        </div>
      }
    </div>
  }
</div>
