{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@angular/(.*)$", "^@ngrx/(.*)$", "^primeng/(.*)$", "^@logistics/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
