<p-card>
  <ng-template pTemplate="header">
    <h4 class="ps-3 py-2">Truck grosses for 
      <span class="text-danger">{{startDate | date:'shortDate'}}</span> - 
      <span class="text-danger">{{endDate | date:'shortDate'}}</span>
    </h4>
    <hr class="w-100 m-0" />
  </ng-template>

  <div *ngIf="isLoading; else lineChart">
    <p-skeleton styleClass="my-2" height="20rem" width="100%"></p-skeleton>
  </div>

  <ng-template #lineChart>
    <div class="mb-2">
      <app-range-calendar [(startDate)]="startDate" [(endDate)]="endDate" (applyButtonClick)="fetchDailyGrosses()"></app-range-calendar>
    </div>

    <p-chart type="line" [data]="chartData" [options]="chartOptions" width="100%" height="20rem"></p-chart>
  </ng-template>
</p-card>
