@inherits LayoutComponentBase

<PageTitle>Logistics Admin</PageTitle>
<Toast @ref="_toastRef" ToastPosition="Toast.Position.BottomRight"></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay/>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <Alert @ref="_alertRef" />
            <CascadingValue Value="_toastRef">
                <CascadingValue Value="_alertRef">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private Toast? _toastRef;
    private Alert? _alertRef;
}
