<h4>Invoice details</h4>
<hr />

<div class="row mb-3">
  <div class="col-4">
    <h6>Carrier:</h6>
  </div>
  <div class="col-8">
    {{ tenantData()?.companyName }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Carrier Address:</h6>
  </div>
  <div class="col-8">
    {{ tenantData()?.companyAddress | address }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Shipper/Dealer:</h6>
  </div>
  <div class="col-8">
    {{ invoice().customer.name }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Invoice Load ID:</h6>
  </div>
  <div class="col-8">
    {{ invoice().loadRef }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Invoice Date:</h6>
  </div>
  <div class="col-8">
    {{ invoice().createdDate | date: "mediumDate" }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Payment Amount:</h6>
  </div>
  <div class="col-8">
    {{ invoice().payment.amount | currency }}
  </div>
</div>
