root = true

# All Files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# C# Files
[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

# Web Files (TypeScript, JavaScript, HTML, CSS, JSON)
[*.{ts,tsx,js,jsx,mjs,cjs,html,css,scss,sass,less,json}]
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_size = 2

# XML and Project Files
[*.{xml,csproj,props,targets,ruleset,config,nuspec,resx}]
indent_size = 2

# Markdown
[*.{md,mdx}]
trim_trailing_whitespace = false
indent_size = 2

# Liquid Templates
[*.liquid]
indent_size = 2

# Shell Scripts
[*.{sh,bash,zsh}]
indent_size = 2

[*.{cmd,bat,ps1}]
end_of_line = crlf

# Kotlin
[*.{kt,kts}]

# Solution Files
[*.sln]
indent_style = tab
