.grid {
    font-size: 14px;
}

.grid .grid-header-row {
    white-space: nowrap;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.grid .grid-body-row {
    vertical-align: middle;
}

.border-right-none  {
    border-right: hidden !important;
}

.grid-spinner-container {
    position: relative;
    width: 100%;
    padding: 0;
}

.grid-spinner-container .grid-spinner {
    position: absolute;
    left: 50%;
    top: 15px;
}