<h1 class="text-center">View subscription plans</h1>

@for (subscriptionPlan of subscriptionPlans(); track subscriptionPlan.id) {
  <div class="flex flex-col gap-2">
    <div class="col-span-6">
      <p-card header="{{ subscriptionPlan.name }}">
        <div class="grid grid-cols-12">
          <div class="col-span-6 font-bold">Price per Employee:</div>
          <div class="col-span-6">{{ subscriptionPlan.price | currency }}</div>

          <div class="col-span-6 font-bold">Billing Cycle:</div>
          <div class="col-span-6">Monthly</div>

          <div class="col-span-6 font-bold">Description:</div>
          <div class="col-span-6">{{ subscriptionPlan.description }}</div>
        </div>

        <ng-template #footer>
          @if (isCurrentPlan(subscriptionPlan)) {
            <p-button label="Current Plan" icon="pi pi-check" disabled />
          } @else {
            <p-button label="Select Plan" icon="pi pi-credit-card" />
          }
        </ng-template>
      </p-card>
    </div>
  </div>
}
