<h1 class="text-center">View subscription plans</h1>
<hr class="w-100" />

@for (subscriptionPlan of subscriptionPlans(); track subscriptionPlan.id) {
  <div class="d-flex flex-column gap-2">
    <div class="col-6">
      <p-card header="{{ subscriptionPlan.name }}">
        <div class="row">
          <div class="fw-bold col-6">Price per Employee:</div>
          <div class="col-6">{{ subscriptionPlan.price | currency }}</div>

          <div class="fw-bold col-6">Billing Cycle:</div>
          <div class="col-6">Monthly</div>

          <div class="fw-bold col-6">Description:</div>
          <div class="col-6">{{ subscriptionPlan.description }}</div>
        </div>

        <ng-template pTemplate="footer">
          @if (isCurrentPlan(subscriptionPlan)) {
            <p-button label="Current Plan" icon="pi pi-check" disabled />
          } @else {
            <p-button label="Select Plan" icon="pi pi-credit-card" />
          }
        </ng-template>
      </p-card>
    </div>
  </div>
}
