<app-change-role-dialog
  [(visible)]="showUpdateDialog"
  [userId]="id()!"
  [currentRole]="employee()?.role ?? null"
/>

<h1 class="text-center">Edit Employee</h1>

<div class="flex justify-center">
  <div class="w-full md:w-1/2">
    <p-card>
      @if (isLoading()) {
        <p-progress-spinner />
      }

      <form [formGroup]="form" (ngSubmit)="updateEmployee()">
        <shared-validation-summary [form]="form" />

        <shared-labeled-field label="Email" for="email">
          <input
            pInputText
            id="email"
            type="text"
            class="w-full"
            [disabled]="true"
            [value]="employee()?.email"
          />
        </shared-labeled-field>

        <shared-labeled-field label="First name" for="firstName">
          <input
            pInputText
            id="firstName"
            type="text"
            class="w-full"
            [disabled]="true"
            [value]="employee()?.firstName"
          />
        </shared-labeled-field>

        <shared-labeled-field label="Last name" for="lastName">
          <input
            pInputText
            id="lastName"
            type="text"
            class="w-full"
            [disabled]="true"
            [value]="employee()?.lastName"
          />
        </shared-labeled-field>

        <shared-labeled-field label="Salary Type" for="salaryType">
          <p-select formControlName="salaryType" class="w-full" [options]="salaryTypes" />
        </shared-labeled-field>

        <shared-labeled-field label="Salary" for="salary">
          @if (isShareOfGrossSalary()) {
            <shared-unit-input [control]="form.controls.salary" unit="%" [min]="0" [max]="100" />
          } @else {
            <shared-currency-input [control]="form.controls.salary" [min]="0" />
          }
        </shared-labeled-field>

        <shared-labeled-field label="Role" for="roleName">
          <p-inputgroup>
            <input
              pInputText
              id="roleName"
              type="text"
              [disabled]="true"
              [value]="getEmployeeRoleName()"
            />
            <p-button
              type="button"
              label="Change"
              [disabled]="!canChangeRole()"
              (click)="openUpdateDialog()"
            />
          </p-inputgroup>
        </shared-labeled-field>

        <div class="flex gap-2">
          <p-button type="submit" icon="pi pi-pencil" label="Save" [disabled]="isLoading()" />
          <p-button
            type="button"
            icon="pi pi-trash"
            label="Delete"
            severity="danger"
            [disabled]="isLoading"
            (click)="confirmToDelete()"
          />
          <p-button
            type="button"
            icon="pi pi-arrow-left"
            label="Back to list"
            [routerLink]="['/employees']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
