app-panel-menu {
  .p-panelmenu {
    gap: 0;
  }

  .p-panelmenu-panel {
    background: transparent;
    border-radius: 0 !important;
  }

  .p-panelmenu-submenu-icon {
    color: var(--p-neutral-800);
  }
}
