<p-confirm-dialog header="Confirmation" icon="pi pi-exclamation-triangle" />

<h1 class="text-center">Manage subscription</h1>
<hr class="w-full" />

<div class="flex-column flex gap-2">
  <!-- Current Plan Card -->
  <div class="col-12">
    <p-card header="Current Plan">
      <div class="row">
        <div class="fw-bold col-6">Plan Name:</div>
        <div class="col-6">{{ subscription.plan?.name }}</div>

        <div class="fw-bold col-6">Price per Employee:</div>
        <div class="col-6">{{ subscription.plan?.price | currency }}</div>

        <div class="fw-bold col-6">Number of Employees:</div>
        <div class="col-6">{{ employeeCount }}</div>

        <div class="fw-bold col-6">Total Price:</div>
        <div class="col-6">{{ calcTotalSubscriptionCost(subscription) | currency }}</div>

        @if (subscription.endDate) {
          <div class="fw-bold col-6">End Date:</div>
          <div class="col-6">{{ subscription.endDate | date }}</div>
        }

        @if (isActiveSubscription()) {
          <div class="fw-bold col-6">Next Billing Date:</div>
          <div class="col-6">{{ subscription.nextBillingDate | date }}</div>
        }

        <div class="fw-bold col-6">Status:</div>
        <div class="col-6">
          <p-tag [severity]="getSubStatusSeverity()" styleClass="text-center">
            {{ getSubStatusLabel() }}
          </p-tag>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="flex gap-2">
          <p-button
            [routerLink]="'/subscription/plans'"
            label="Change Plan"
            size="small"
            icon="pi pi-credit-card"
          />
          <p-button
            label="Cancel Subscription"
            icon="pi pi-times"
            severity="danger"
            size="small"
            [disabled]="isLoading() || isCancelled() || isSubscriptionCancelled()"
            (click)="confirmCancelSubscription()"
          />

          @if (isSubscriptionCancelled()) {
            <p-button
              label="Renew"
              icon="pi pi-credit-card"
              size="small"
              [routerLink]="'/subscription/renew'"
            />
          }
        </div>
      </ng-template>
    </p-card>
  </div>

  <!-- Payment Methods Card -->
  <div class="col-12">
    <app-payment-methods-card />
  </div>

  <!-- Billing History Table -->
  <div class="col-12">
    <p-card header="Billing History">
      <app-billing-history />
    </p-card>
  </div>
</div>
