<h1 class="text-center">Truck Details</h1>
<hr class="w-100">

<div class="row">
  <p-card class="col-12 col-sm-6">
    <div *ngIf="isLoading; else actualData">
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>
    </div>

    <ng-template #actualData>
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Drivers: </span><br />
          <span class="me-1" *ngFor="let driver of truck?.drivers">
            {{driver.fullName}}
          </span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Truck Number: </span><br />
          <a [routerLink]="['/truck/edit', truck?.id]">{{truck?.truckNumber}}</a>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Gross Since Beginning of The Year: </span><br />
          <span>{{monthlyGrosses?.totalIncome | currency}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Gross For Last 30 Days: </span><br />
          <span>{{dailyGrosses?.totalIncome | currency}}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Distance Since Beginning of The Year: </span><br />
          <span>{{monthlyGrosses?.totalDistance | distanceUnit:'mi'}} mi</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Distance For Last 30 Days: </span><br />
          <span>{{dailyGrosses?.totalDistance | distanceUnit:'mi'}} mi</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">RPM Since Beginning of The Year: </span><br />
          <span>{{rpmAllTime | currency}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">RPM For Last 30 Days: </span><br />
          <span>{{rpmCurrent | currency}}</span>
        </div>
      </div>
    </ng-template>
  </p-card>

  <div class="col-12 col-sm-6 map-container">
    <app-geolocation-map [accessToken]="accessToken" [geolocationData]="truckLocations">
    </app-geolocation-map>
  </div>
</div>

<div class="mt-3">
  <app-truck-grosses-linechart [truckId]="id" (chartDrawn)="onLineChartDrawn($event)">
  </app-truck-grosses-linechart>
</div>

<div class="mt-3">
  <app-truck-grosses-barchart class="mt-3" [truckId]="id" (chartDrawn)="onBarChartDrawn($event)">
  </app-truck-grosses-barchart>
</div>
