.map-container {
  height: auto;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 0) and (max-width: 575.98px) {
  .map-container {
    margin-top: 1rem;
    height: 400px;
  }
}
