@inherits LayoutComponentBase

<PageTitle>Logistics Admin</PageTitle>

<RadzenLayout>
    <RadzenHeader>
        <RadzenRow>
            <RadzenColumn Size="2">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                    <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
                    <RadzenLabel Text="Logistics Admin"/>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="10" class="d-flex justify-content-end pe-3">
                <LoginDisplay />
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>

    <AuthorizeView>
        <Authorized>
            <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
                <RadzenPanelMenu>
                    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"/>
                    <RadzenPanelMenuItem Text="Tenants" Icon="business" Path="/tenants"/>
                    <RadzenPanelMenuItem Text="Subscriptions" Icon="subscriptions">
                        <RadzenPanelMenuItem Text="Plans" Icon="cases" Path="/subscription-plans"/>
                        <RadzenPanelMenuItem Text="Subscription customers" Icon="account_balance" Path="/subscriptions"/>
                    </RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Users" Icon="group"/>
                </RadzenPanelMenu>
            </RadzenSidebar>
        </Authorized>
    </AuthorizeView>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool _sidebarExpanded = true;
}
