<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <span class="navbar-brand">
      <img src="assets/images/logo.svg" height="50" width="50" />
      {{tenantName}}
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" *ngIf="isAuthenticated; else loginTemplate" href="https://id.jfleets.org/account/manage/profile">
            <i class="bi bi-person-circle"></i>
            <span class="ms-1">{{user?.name}} </span>
          </a>
          <ng-template #loginTemplate>
            <button class="btn nav-link text-dark" (click)="login()">
              <i class="bi bi-box-arrow-in-right"></i>
              <span class="ms-1">Login </span>
            </button>
          </ng-template>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <button class="btn nav-link text-dark" (click)="logout()">
            <i class="bi bi-box-arrow-in-left"></i>
            <span class="ms-1">Logout </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>