:host ::ng-deep {
  .p-breadcrumb {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .p-breadcrumb ul li .p-menuitem-text {
    color: #495057 !important;
  }

  .p-menuitem-icon {
    color: #495057 !important;
    font-size: larger;
  }
}
