<div class="mt-4 grid grid-cols-12 gap-3">
  <div class="col-span-12 xl:col-span-7">
    <p-card>
      <ng-template #header>
        <h4 class="py-2 pl-4">Trucks</h4>
        <p-divider class="m-0" />
      </ng-template>
      <app-trucks-map height="700px" />
    </p-card>
  </div>

  <div class="col-span-12 xl:col-span-5">
    <p-card class="h-full">
      <ng-template #header>
        <h4 class="py-2 pl-4">Active loads</h4>
        <p-divider class="m-0" />
      </ng-template>

      <p-table [value]="loads()" [loading]="isLoadingLoadsData()">
        <ng-template #header>
          <tr>
            <th>ID</th>
            <th>Current Location</th>
            <th>Truck</th>
          </tr>
        </ng-template>
        <ng-template #body let-load>
          <tr>
            <td>
              <a [routerLink]="['/loads', load.id, 'edit']"> {{ load.number }} </a>
            </td>
            <td
              [pTooltip]="formatAddress(load.currentAddress)"
              [showDelay]="500"
              tooltipPosition="bottom"
            >
              {{ load.currentAddress | address }}
            </td>
            <td>
              <a [routerLink]="['/trucks', load.assignedTruckId]">
                {{ load.assignedTruckNumber }}
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template #footer>
          <tr>
            <td colspan="4" class="text-left">
              <p-button label="Add" [routerLink]="['/loads/add']" />
              <p-button class="ml-2" label="View all loads" [routerLink]="['/loads']" />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<div class="mt-4 grid grid-cols-12 gap-3">
  <div class="col-span-12">
    <p-card>
      <ng-template #header>
        <h4 class="py-2 pl-4">Weekly Report</h4>
        <p-divider class="m-0" />
      </ng-template>

      @if (isLoadingChartData()) {
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-4">
            <p-skeleton height="3rem" />
          </div>
          <div class="col-span-12 md:col-span-4">
            <p-skeleton height="3rem" />
          </div>
          <div class="col-span-12 md:col-span-4">
            <p-skeleton height="3rem" />
          </div>
        </div>
      } @else {
        <div class="grid grid-cols-12">
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Total Gross:</span><br />
            <span class="text-2xl font-bold">{{ weeklyGross() | currency }}</span>
          </div>
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Billed Miles:</span><br />
            <span class="text-2xl font-bold">{{ weeklyDistance() | distanceUnit: "mi" }}</span>
          </div>
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Rate Per Mile:</span><br />
            <span class="text-2xl font-bold">{{ weeklyRpm() | currency }}</span>
          </div>
        </div>
      }

      <ng-template #data>
        <div class="grid grid-cols-12">
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Total Gross:</span><br />
            <span class="text-2xl font-bold">{{ weeklyGross() | currency }}</span>
          </div>
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Billed Miles:</span><br />
            <span class="text-2xl font-bold">{{ weeklyDistance() | distanceUnit: "mi" }}</span>
          </div>
          <div class="col-span-12 px-4 md:col-span-4">
            <span class="text-gray-600 uppercase">Rate Per Mile:</span><br />
            <span class="text-2xl font-bold">{{ weeklyRpm() | currency }}</span>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<div class="mt-4 grid grid-cols-12 gap-3">
  <div class="col-span-12 xl:col-span-7">
    <p-card>
      <ng-template #header>
        <h4 class="py-2 pl-4">Daily Gross</h4>
        <p-divider class="m-0" />
      </ng-template>

      @if (isLoadingChartData()) {
        <div class="grid grid-cols-12">
          <div class="col-span-12">
            <p-skeleton height="20vh" />
          </div>
        </div>
      } @else {
        <div class="grid grid-cols-12">
          <div class="col-span-12 mb-2 md:col-span-3">
            <span class="font-bold">Today Gross:</span><br />
            <span class="text-2xl font-bold">{{ todayGross() | currency }}</span>
          </div>
          <div class="col-span-12 md:col-span-9">
            <p-chart
              type="line"
              [data]="chartData()"
              [options]="chartOptions()"
              width="40vw"
              height="20vh"
            />
          </div>
        </div>
      }
    </p-card>
  </div>
  <div class="col-span-12 xl:col-span-5">
    <app-notifications-panel height="400px" />
  </div>
</div>
