@page
@model Logistics.IdentityServer.Pages.Debug.Index

<ul>
    <li>
        Master Database Connection String: @Model.View.MasterDbConnectionString
    </li>
    <li>
        Tenant Database Connection String: @Model.View.TenantDbConnectionString
    </li>
    <li>
        Tenants Database Settings: @Model.View.TenantsDatabaseSettings
    </li>
</ul>