<h1 class="text-center">{{ title() }}</h1>
<hr class="w-full" />

<div class="row justify-content-center mx-0">
  <div class="col-md-6 col-12">
    <p-card>
      @if (isLoading()) {
        <p-progress-spinner />
      }

      <form [formGroup]="form" (ngSubmit)="submit()">
        <app-validation-summary [form]="form" />

        <div class="mb-3">
          <label for="dateRange" class="mb-2">Date range</label><br />
          <p-date-picker
            formControlName="dateRange"
            selectionMode="range"
            [showIcon]="true"
            [maxDate]="todayDate"
            (onSelect)="tryCalculatePayroll()"
          />
        </div>

        <div class="mb-3">
          <label for="employee" class="form-label">Employee</label>
          <p-auto-complete
            formControlName="employee"
            styleClass="w-full"
            inputStyleClass="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="employee" class="form-label">Employee</label>
          <p-auto-complete
            formControlName="employee"
            styleClass="w-full"
            inputStyleClass="form-control"
            placeholder="Type employee's name"
            optionLabel="fullName"
            [minLength]="2"
            [suggestions]="suggestedEmployees()"
            (completeMethod)="searchEmployee($event)"
            (onSelect)="handleAutoCompleteSelectEvent($event)"
          />
        </div>

        @if (selectedEmployee() && previewPayrollInvoice()) {
          <h4>Preview Payroll Invoice</h4>
          <hr />

          <p><strong>Employee Role:</strong> {{ selectedEmployee()!.roles?.[0]?.displayName ?? "N/A" }}</p>
          <p>
            <strong>Employee's Salary Type:</strong>
            {{ getSalaryTypeDesc(selectedEmployee()!.salaryType) }}
          </p>
          <p>
            <strong>Employee's Salary:</strong>
            @if (selectedEmployee()!.salaryType === "share_of_gross") {
              {{ selectedEmployee()!.salary | percent }}
            } @else {
              {{ selectedEmployee()!.salary | currency }}
            }
          </p>
          <p>
            <strong>Expected Invoice Total:</strong>
            {{ previewPayrollInvoice()!.total?.amount | currency }}
          </p>
        }

        <!-- @if (id()) {
          <div class="mb-3">
            <label for="paymentStatus" class="form-label">Payment Status</label>
            <p-select
              formControlName="paymentStatus"
              styleClass="w-full"
              [options]="paymentStatusOptions"
            >
            </p-select>
          </div>

          @if (form.get("paymentStatus")?.value === "paid") {
            <h4>Payment details</h4>
            <hr />

            <div class="mb-3">
              <label for="paymentMethod" class="form-label">Payment Method</label>
              <p-select
                formControlName="paymentMethod"
                styleClass="w-full"
                [options]="paymentMethodOptions"
              >
              </p-select>
            </div>

            <h5>Billing address</h5>
            <app-address-form formControlName="paymentBillingAddress"></app-address-form>
          }
        } -->

        <div class="flex gap-2">
          <p-button
            type="submit"
            class="mt-3"
            icon="pi pi-pencil"
            label="Save"
            [disabled]="isLoading || !form.valid || previewPayrollInvoice()?.total?.amount === 0"
          />
          <p-button
            type="button"
            class="ms-2 mt-3"
            icon="pi pi-arrow-left"
            label="Back to list"
            [routerLink]="['/invoices/payroll']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
