app-edit-load .p-progress-spinner {
  width: 50px !important;
  height: 50px !important;
}

app-edit-load .mapboxgl-ctrl-geocoder .suggestions {
  position: inherit;
}

#routeMap {
  width: 100%;
  height: 100%;
}