<p-auto-complete
  class="w-full"
  inputStyleClass="w-full"
  placeholder="Type a load name or number"
  optionLabel="number"
  [delay]="300"
  [suggestions]="suggestedLoads()"
  [(ngModel)]="selectedLoad"
  (completeMethod)="searchLoad($event)"
  (onSelect)="changeSelectedLoad($event)"
>
  <ng-template #item let-load>
    <div class="flex items-center gap-2">
      <span class="font-bold">{{ load.number }} - </span>
      <span class="text-sm text-gray-500">{{ load.name }}</span>
      <app-load-status-tag [status]="load.status" />
    </div>
  </ng-template>
  <!-- <ng-template #footer>
    <span class="text-sm text-gray-500">
      Not found?
      <a [routerLink]="['/loads/add']" class="font-semibold">Click here</a>
      to add a new load
    </span>
  </ng-template> -->
</p-auto-complete>
