<ui-autocomplete-field
  class="w-full"
  placeholder="Type a load name or number"
  optionLabel="number"
  [delay]="300"
  [suggestions]="suggestedLoads()"
  [(value)]="value"
  [disabled]="disabled()"
  (completeMethod)="searchLoad($event)"
  (touch)="touch.emit()"
>
  <ng-template #item let-load>
    <div class="flex items-center gap-2">
      <span class="font-bold">{{ load.number }} -</span>
      <span class="text-muted-foreground text-sm">{{ load.name }}</span>
      <app-load-status-tag [status]="load.status" />
    </div>
  </ng-template>
</ui-autocomplete-field>
