@* <div id="dock-container"> *@
@*     <div id="dock"> *@
@*         <ul> *@
@*             <li> *@
@*                 <span>Address Book</span> *@
@*                 <a href="#"><img src="icon-1.png"/></a> *@
@*             </li> *@
@*             <li> *@
@*                 <span>App Store</span> *@
@*                 <a href="#"><img src="icon-2.png"/></a> *@
@*             </li> *@
@*             <li> *@
@*                 <span>Chrome</span> *@
@*                 <a href="#"><img src="icon-3.png"/></a> *@
@*             </li> *@
@*             <li> *@
@*                 <span>Firefox</span> *@
@*                 <a href="#"><img src="icon-4.png"/></a> *@
@*             </li> *@
@*         </ul> *@
@*     </div> *@
@* </div> *@

<div id="dockContainer">
    <div id="dockWrapper">
        <div class="cap left"></div>
        <ul class="osx-dock">
            <li class="active">
                <span>ZURB</span>
                <a href="https://www.zurb.com" title="ZURB">
                    <img alt="Zurb icon" src="https://d33wubrfki0l68.cloudfront.net/31714c00e7f5bf1f440bc8c9f569ea63fbdb89cc/ec0cc/playground/uploads/upload/upload/151/zurb-icon.png">
                </a>
            </li>
            <li class="">
                <span>LinkedIn</span>
                <a href="https://www.linkedin.com" title="LinkedIn">
                    <img alt="Linkedin icon" src="https://d33wubrfki0l68.cloudfront.net/71c53d31e16820202404d793049721a42db7ec0c/6e9a2/playground/uploads/upload/upload/154/linkedin-icon.png">
                </a>
            </li>
            <li class="">
                <span>Notable</span>
                <a href="https://www.notableapp.com" title="Notable">
                    <img alt="Notable icon" src="https://d33wubrfki0l68.cloudfront.net/b3e14a060fea6c79f7bce1a406dbb1b52c76e32a/0c544/playground/uploads/upload/upload/152/notable-icon.png">
                </a>
            </li>
            <li class="">
                <span>last.fm</span>
                <a href="https://www.last.fm" title="Last.fm">
                    <img alt="Lastfm icon" src="https://d33wubrfki0l68.cloudfront.net/d377f15c758e68f4ef77ce4be6434902fc2d4a6b/cbab8/playground/uploads/upload/upload/155/lastfm-icon.png">
                </a>
            </li>
            <li class="">
                <span>Facebook</span>
                <a href="https://www.facebook.com" title="Facebook">
                    <img alt="Facebook icon" src="https://d33wubrfki0l68.cloudfront.net/c0779bcdd947e205883f2046aad14b2d66c8f382/f8bfd/playground/uploads/upload/upload/150/facebook-icon.png">
                </a>
            </li>
            <li class="">
                <span>Google</span>
                <a href="https://www.google.com" title="Google">
                    <img alt="Google icon" src="https://d33wubrfki0l68.cloudfront.net/8f32f44c52d529a545730639e257bcb781bdf16b/a8702/playground/uploads/upload/upload/153/google-icon.png">
                </a>
            </li>
            <li class="">
                <span>Notable</span>
                <a href="https://www.notableapp.com" title="Notable">
                    <img alt="Notable icon" src="https://d33wubrfki0l68.cloudfront.net/b3e14a060fea6c79f7bce1a406dbb1b52c76e32a/0c544/playground/uploads/upload/upload/152/notable-icon.png">
                </a>
            </li>
            <li class="">
                <span>last.fm</span>
                <a href="https://www.last.fm" title="Last.fm">
                    <img alt="Lastfm icon" src="https://d33wubrfki0l68.cloudfront.net/d377f15c758e68f4ef77ce4be6434902fc2d4a6b/cbab8/playground/uploads/upload/upload/155/lastfm-icon.png">
                </a>
            </li>
            <li class="">
                <span>Facebook</span>
                <a href="https://www.facebook.com" title="Facebook">
                    <img alt="Facebook icon" src="https://d33wubrfki0l68.cloudfront.net/c0779bcdd947e205883f2046aad14b2d66c8f382/f8bfd/playground/uploads/upload/upload/150/facebook-icon.png">
                </a>
            </li>
            <li class="">
                <span>Google</span>
                <a href="https://www.google.com" title="Google">
                    <img alt="Google icon" src="https://d33wubrfki0l68.cloudfront.net/8f32f44c52d529a545730639e257bcb781bdf16b/a8702/playground/uploads/upload/upload/153/google-icon.png">
                </a>
            </li>
        </ul>
    </div>
</div>