/*#dock-container {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    text-align: center;*/
/*    right: 20%;*/
/*    left: 20%;*/
/*    width: 60%;*/
/*    background: rgba(255, 255, 255, 0.2);*/
/*    border-radius: 10px 10px 0 0;*/
/*}*/

/*#dock-container li {*/
/*    list-style-type: none;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/

/*#dock-container li img {*/
/*    width: 64px;*/
/*    height: 64px;*/
/*    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent),*/
/*    color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));*/
/*    -webkit-transition: all 0.3s;*/
/*    -webkit-transform-origin: 50% 100%;*/
/*}*/

/*#dock-container li:hover img {*/
/*    -webkit-transform: scale(2);*/
/*    margin: 0 2em;*/
/*}*/

/*#dock-container li:hover + li img,*/
/*#dock-container li.prev img {*/
/*    -webkit-transform: scale(1.5);*/
/*    margin: 0 1.5em;*/
/*}*/

/*#dock-container li span {*/
/*    display: none;*/
/*    position: absolute;*/
/*    bottom: 140px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    background-color: rgba(0, 0, 0, 0.75);*/
/*    padding: 4px 0;*/
/*    border-radius: 12px;*/
/*}*/

/*#dock-container li:hover span {*/
/*    display: block;*/
/*    color: #fff;*/
/*}*/

div.cap {
    display: block;
    height: 100px;
    width: 40px;
    background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") bottom left no-repeat;
}

div.cap.left {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.cap.right {
    background-position: right bottom;
    position: absolute;
    top: 0;
    right: 0;
}

ul.osx-dock {
    display: inline-block;
    height: 130px;
    padding: 0 40px 0 0;
    background: url("https://d33wubrfki0l68.cloudfront.net/572492a49d39a2d0b9950e45d934fe77e3464261/d9a70/playground/playground/osx-dock/dock-background-left.png") no-repeat right bottom;
    overflow: hidden;
    margin: 0 0 0 40px;
}

ul.osx-dock li {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin: 60px 0 4px 0;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    text-align: center;
}

ul.osx-dock li a {
    display: block;
    height: 50px;
    padding: 0 1px;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    margin: 0;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent),
    color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li a img {
    width: 48px;
}

ul.osx-dock li:hover {
    margin-left: 9px;
    margin-right: 9px;
    z-index: 200;
}

ul.osx-dock li:hover a {
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.5);
}

ul.osx-dock li.nearby {
    margin-left: 6px;
    margin-right: 6px;
    z-index: 100;
}

ul.osx-dock li.nearby a {
    -webkit-transform-origin: center bottom;
    -webkit-transform: scale(1.25);
}

ul.osx-dock li span {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    display: none;
    width: auto;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 6px;
    -webkit-border-radius: 6px;
    color: #fff;
}

ul.osx-dock li:hover span {
    display: block;
}

div#dockContainer {
    position: fixed;
    bottom: 12px;
    height: 120px;
    padding: 50px 0 0;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 100%;
    line-height: 1;
    z-index: 100;
}

div#dockWrapper {
    width: auto;
    display: inline-block;
    position: relative;
    border-bottom: solid 2px rgba(255, 255, 255, .35);
    line-height: 0;
}

#dockContainer, #dockContainer * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}