<h1 class="text-center">Dashboard</h1>
<hr class="w-100">

<div class="row">
  <p-card class="col-12">
    <div *ngIf="isLoadingOverallStats; else actualData">
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <p-skeleton styleClass="my-2" height="3rem"></p-skeleton>
        </div>
      </div>
    </div>

    <ng-template #actualData>
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Company Owner: </span><br />
          <span>{{overallStats?.ownerName}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Number of Employees: </span><br />
          <span>{{overallStats?.employeesCount}}</span>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Number of Dispatchers: </span><br />
          <span>{{overallStats?.dispatchersCount}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Number of Drivers: </span><br />
          <span>{{overallStats?.driversCount}}</span>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Number of Managers: </span><br />
          <span>{{overallStats?.managersCount}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Gross For All Time: </span><br />
          <span>{{overallStats?.totalIncome | currency}}</span>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">RPM For All Time: </span><br />
          <span>{{rpm | currency}}</span>
        </div>
        <div class="col-12 col-md-6 mb-2 mb-md-0">
          <span class="fw-bold">Total Distance For All Time: </span><br />
          <span>{{overallStats?.totalDistance | distanceUnit:'mi'}} mi</span>
        </div>
      </div>
    </ng-template>
  </p-card>

  <p-card class="col-12 mt-3">
    <ng-template pTemplate="header">
      <h4 class="ps-3 py-2">Truck statistics from {{startDate | date:'shortDate'}} to {{endDate | date:'shortDate'}}</h4>
      <hr class="w-100 m-0" />
    </ng-template>
    <div class="mb-2">
      <span>Select range:</span>
      <p-calendar class="ms-1" [(ngModel)]="truckStatsDates" selectionMode="range" [showIcon]="true" [maxDate]="todayDate"></p-calendar>
      <button pButton 
        class="p-button-raised ms-1"
        label="Apply"
        (click)="reloadTable()">
      </button>
    </div>
    
    <p-table [value]="truckStats" responsiveLayout="scroll" 
      [lazy]="true" [paginator]="true" [showCurrentPageReport]="true" 
      (onLazyLoad)="fetchTrucksStats($event)" [rows]="10"
      [totalRecords]="totalTrucks" 
      [loading]="isLoadingTruckStats" 
      [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="truckNumber">
              Number
              <p-sortIcon field="truckNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="gross">
              Gross
              <p-sortIcon field="gross"></p-sortIcon>
            </th>
            <th pSortableColumn="distance">
              Distance (mi)
              <p-sortIcon field="distance"></p-sortIcon>
            </th>
            <th>
              Drivers
            </th>
            <th>
              <span>Action</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-truckStats>
          <tr>
            <td>
              {{truckStats.truckNumber}}
            </td>
            <td>
              {{truckStats.gross | currency}}
            </td>
            <td>
              {{truckStats.distance | distanceUnit:'mi'}}
            </td>
            <td>
              <span *ngFor="let driver of truckStats.drivers">
                {{driver.fullName}}
                <span *ngIf="truckStats.drivers.length > 1">,</span>
              </span>
            </td>
            <td>
              <button pButton 
                class="p-button-raised"
                label="View details"
                [routerLink]="['/truck/details', truckStats.truckId]">
              </button>
              <button pButton 
                class="p-button-raised ms-2"
                label="Edit"
                [routerLink]="['/truck/edit', truckStats.truckId]">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </p-card>

  <p-card class="col-12 mt-3">
    <ng-template pTemplate="header">
      <h4 class="ps-3 py-2">Gross income since the beginning of the year</h4>
      <hr class="w-100 m-0" />
    </ng-template>

    <div *ngIf="isLoadingChart; else actualChart">
      <p-skeleton styleClass="my-2" height="40rem" width="100%"></p-skeleton>
    </div>

    <ng-template #actualChart>
      <p-chart type="bar" [data]="chartData" [options]="chartOptions" width="100%" height="40rem"></p-chart>
    </ng-template>
  </p-card>
</div>
