@inherits LayoutViewBase<MainLayoutViewModel>

<PageTitle>Logistics Admin</PageTitle>
<Toast @ref="_toastRef" ToastPosition="Toast.Position.BottomRight"></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="_toastRef">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private Toast? _toastRef;
}