@inherits LayoutViewBase<MainLayoutViewModel>

<PageTitle>Logistics Admin</PageTitle>
<Toast @ref="toastRef" ToastPosition="Toast.Position.BottomRight"></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private Toast? toastRef;
}