<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" />
<app-change-role-dialog
  [(visible)]="showUpdateDialog"
  [userId]="id()!"
  [currentRoles]="employee()?.roles ?? []"
/>

<h1 class="text-center">Edit Employee</h1>
<hr class="w-100" />

<div class="row justify-content-center">
  <div class="col-md-6 col-12">
    <p-card>
      @if (isLoading()) {
        <p-progressSpinner />
      }

      <form [formGroup]="form" (ngSubmit)="updateEmployee()">
        <app-validation-summary [form]="form" />

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            type="text"
            class="form-control"
            [disabled]="true"
            [value]="employee()?.email"
          />
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input
            id="firstName"
            type="text"
            class="form-control"
            [disabled]="true"
            [value]="employee()?.firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name</label>
          <input
            id="lastName"
            type="text"
            class="form-control"
            [disabled]="true"
            [value]="employee()?.lastName"
          />
        </div>
        <div class="mb-3">
          <label for="salaryType" class="form-label">Salary Type</label>
          <p-select formControlName="salaryType" styleClass="w-100" [options]="salaryTypes">
          </p-select>
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          @if (isShareOfGrossSalary()) {
            <div class="input-group">
              <span class="input-group-text">%</span>
              <input
                id="salary"
                formControlName="salary"
                type="number"
                class="form-control"
                [min]="0"
                [max]="100"
              />
            </div>
          } @else {
            <div class="input-group">
              <span class="input-group-text">$$</span>
              <input
                id="salary"
                formControlName="salary"
                type="number"
                class="form-control"
                [min]="0"
                [disabled]="isNoneSalary()"
              />
            </div>
          }
        </div>

        <div class="mb-3">
          <label for="roleName" class="form-label">Role</label>
          <div class="input-group">
            <input
              id="roleName"
              type="text"
              class="form-control"
              [disabled]="true"
              [value]="getEmployeeRoleNames()"
            />
            <p-button
              type="button"
              label="Change"
              [disabled]="!canChangeRole()"
              (click)="openUpdateDialog()"
            />
          </div>
        </div>

        <div class="mt-3">
          <p-button
            type="submit"
            icon="bi bi-pencil-square"
            label="Save"
            [disabled]="isLoading()"
          />
          <p-button
            type="button"
            styleClass="p-button-danger ms-2"
            icon="bi bi bi-trash"
            label="Delete"
            [disabled]="isLoading"
            (click)="confirmToDelete()"
          />
          <p-button
            type="button"
            class="ms-2"
            icon="bi bi-arrow-left-square"
            label="Back to list"
            [routerLink]="['/employees']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
