@page
@model Logistics.IdentityServer.Pages.Register.Index

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

<div class="row">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <form asp-page="Account/SignUp" asp-route-returnUrl="@Model.ReturnUrl">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.UserName" class="form-label"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="@Model.CaptchaSiteKey">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
        </form>
    </div>
</div>