<div class="flex gap-2" [class.flex-row-reverse]="isOwn()" (mouseenter)="mouseEnter.emit()">
  @if (!isOwn()) {
    <app-user-avatar [initials]="getInitials(message().senderName)" />
  }

  <div
    class="max-w-[70%] rounded-2xl px-4 py-3 shadow-sm"
    [class.bg-primary]="isOwn()"
    [class.text-inverse]="isOwn()"
    [class.rounded-br-sm]="isOwn()"
    [class.bg-surface]="!isOwn()"
    [class.text-foreground]="!isOwn()"
    [class.rounded-bl-sm]="!isOwn()"
  >
    @if (!isOwn()) {
      <p class="text-primary mb-1 text-xs font-semibold">
        {{ message().senderName }}
      </p>
    }
    <p class="leading-relaxed wrap-break-word whitespace-pre-wrap">{{ message().content }}</p>
    <div
      class="mt-2 flex items-center gap-1 text-xs"
      [class.text-inverse/60]="isOwn()"
      [class.justify-end]="isOwn()"
      [class.text-muted-foreground]="!isOwn()"
    >
      <span>{{ message().sentAt | date: "shortTime" }}</span>
      @if (isOwn()) {
        @if (message().isRead) {
          <ui-icon name="circle-check" size="inherit" class="text-xs text-cyan-300" />
        } @else {
          <ui-icon name="check" size="inherit" class="text-xs text-white/50" />
        }
      }
    </div>
  </div>
</div>
