<div class="sidebar" [ngClass]="{'minimized': !isOpened}">
  <a class="py-3 navbar-brand border-bottom">
    <img src="assets/images/logo.svg" class="img-fluid" height="40" alt="logo" />
    <span class="h4" *ngIf="isOpened">{{companyName}}</span>
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <a class="nav-link border-bottom" [routerLink]="['/home']">
        <i class="bi bi-house-door h1" pTooltip="Home"></i>
        <span class="ms-2" *ngIf="isOpened">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom" [routerLink]="['/dashboard']">
        <i class="bi bi-speedometer2 h1" pTooltip="Dashboard"></i>
        <span class="ms-2" *ngIf="isOpened">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom" [routerLink]="['/loads']">
        <i class="bi bi-database h1" pTooltip="Loads"></i>
        <span class="ms-2" *ngIf="isOpened">Loads</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom" [routerLink]="['/trucks']">
        <i class="bi bi-truck h1" pTooltip="Trucks"></i>
        <span class="ms-2" *ngIf="isOpened">Trucks</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom" [routerLink]="['/employees']">
        <i class="bi bi-people h1" pTooltip="Employees"></i>
        <span class="ms-2" *ngIf="isOpened">Employees</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom" [routerLink]="['/customers']">
        <i class="bi bi-building h1" pTooltip="Customers"></i>
        <span class="ms-2" *ngIf="isOpened">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link border-bottom">
        <i *ngIf="isOpened else rightArrowIcon" class="bi bi-arrow-left h1" (click)="toggle()" pTooltip="Minimize menu" role="presentation"></i>
        <ng-template #rightArrowIcon>
          <i class="bi bi-arrow-right h1" (click)="toggle()" pTooltip="Maximize menu" role="presentation"></i>
        </ng-template>
      </a>
    </li>
  </ul>

  <div *ngIf="userFullName" class="border-top mb-2">
    <div class="px-3 pt-2" *ngIf="userRole && isOpened">
      Role: <span class="fw-bold">{{userRole}}</span>
    </div>

    <p-panelMenu *ngIf="isOpened else accountIcon" [model]="accountMenuItems"></p-panelMenu>
    <ng-template #accountIcon>
      <div class="text-center">
        <i (click)="toggle()" class="bi bi-person-circle h1" pTooltip="Account" role="presentation"></i>
      </div>
    </ng-template>
  </div>
</div>
