.sidebar {
  position: sticky;
  width: 250px;
  transition: width 0.3s ease;
  overflow: hidden;
  background-color: #c2d1dd;
  background-image: url(https://www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 256px 556px;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.sidebar.minimized {
  width: 80px;
}

.nav-link {
  border-radius: 0;
  color: black;
  display: flex;
  align-items: center;
}

:host ::ng-deep {
  .p-panelmenu-header-content {
    background-color: transparent;
  }

  .p-menuitem-link {
    text-decoration: none;
  }

  .p-panelmenu-header chevronrighticon {
    order: 2;
  }

  .p-panelmenu-content {
    background-color: transparent;
  }

  .p-panelmenu-header chevrondownicon {
    order: 2;
  }

  .p-panelmenu-header .p-menuitem-text {
    order: 1;
  }
}
