<div class="sidebar" [class.minimized]="!isOpened()">
  <a class="navbar-brand border-bottom p-2">
    @if (companyLogoUrl()) {
      <img [src]="companyLogoUrl()" class="h-10 w-auto max-w-full object-contain" alt="Company logo" />
    } @else {
      <img src="images/logo.svg" class="h-auto max-w-full" height="40" alt="logo" />
    }
    @if (isOpened()) {
      <h4 class="mt-1">{{ companyName() }}</h4>
    }
  </a>

  <ul class="nav mb-auto flex-col">
    <li>
      <app-panel-menu [items]="navItems()" [(expanded)]="isOpened" />
    </li>
    <li>
      <a class="nav-link border-bottom pt-2 pl-4">
        <i
          [class]="isOpened() ? 'pi pi-arrow-left text-3xl!' : 'pi pi-arrow-right text-3xl!'"
          (click)="toggle()"
          [pTooltip]="isOpened() ? 'Minimize menu' : 'Maximize menu'"
          role="presentation"
        ></i>
      </a>
    </li>
  </ul>

  @if (userFullName()) {
    <div class="border-top flex flex-col" [class.items-center]="!isOpened()">
      @if (userRole() && isOpened()) {
        <div class="px-3 py-2 text-left select-none">
          Role: <span class="font-bold">{{ userRole() }}</span>
        </div>
      }

      <app-panel-menu [items]="profileMenuItems" [(expanded)]="isOpened" class="w-full" />
    </div>
  }
</div>
