<h1 class="text-center">Edit Employee</h1>
<hr class="w-100">

<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <p-card>
      <p-progressSpinner *ngIf="loading"></p-progressSpinner>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="userName" class="form-label">Username</label>
          <input id="userName" type="text" class="form-control" formControlName="userName" />
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input id="firstName" type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name</label>
          <input id="lastName" type="text" class="form-control" formControlName="firstName" />
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <p-dropdown formControlName="role" styleClass="w-100" [options]="roles" optionValue="name"
            optionLabel="displayName" [showClear]="true"></p-dropdown>
        </div>
        <div class="mt-3">
          <button pButton 
            type="submit"
            class="p-button-raised"
            icon="bi bi-pencil-square"
            label="Save"
            [disabled]="loading">
          </button>
          <button pButton 
            type="submit"
            class="p-button-raised p-button-danger ms-2"
            icon="bi bi bi-trash"
            label="Delete"
            [disabled]="loading"
            (click)="confirmToDelete()">
          </button>
          <button pButton 
            type="button"
            class="p-button-raised ms-2"
            icon="bi bi-arrow-left-square"
            routerLink="/employees"
            label="Back to list">
          </button>
        </div>
      </form>
    </p-card>

  </div>
</div>