<h1>Overview</h1>
<hr class="w-100">

<div class="row g-3 mt-3">
  <div class="col-12 col-xl-7">
    <p-card>
      <ng-template pTemplate="header">
        <h4 class="ps-3 py-2">Trucks</h4>
        <hr class="w-100 m-0" />
      </ng-template>
      <app-trucks-map [accessToken]="accessToken" height="700px">
      </app-trucks-map>
    </p-card>
  </div>

  <div class="col-12 col-xl-5">
    <p-card styleClass="h-100">
      <ng-template pTemplate="header">
        <h4 class="ps-3 py-2">Active loads</h4>
        <hr class="w-100 m-0" />
      </ng-template>

      <p-table [value]="loads" responsiveLayout="scroll" [loading]="isLoadingLoadsData">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Current Location</th>
            <th>Truck</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-load>
          <tr>
            <td>
              <a [routerLink]="['/loads/edit', load.id]">
                {{load.refId}}
              </a>
            </td>
            <td [pTooltip]="load.currentLocation" [showDelay]="500" tooltipPosition="bottom">
              {{load.currentLocation}}
            </td>
            <td>
              <a [routerLink]="['/trucks/details', load.assignedTruckId]">
                {{load.assignedTruckNumber}}
              </a>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="4">
              <button pButton 
                class="p-button-raised" 
                routerLink="/loads/add">
                Add
              </button>
              <button pButton 
                class="p-button-raised ms-2" 
                routerLink="/loads">
                View all loads
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<div class="row g-3 mt-3">
  <div class="col-12">
    <p-card>
      <ng-template pTemplate="header">
        <h4 class="ps-3 py-2">Weekly Report</h4>
        <hr class="w-100 m-0" />
      </ng-template>

      <div class="row" *ngIf="isLoadingChartData; else data">
        <div class="col-12 col-md-4">
          <p-skeleton height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-4">
          <p-skeleton height="3rem"></p-skeleton>
        </div>
        <div class="col-12 col-md-4">
          <p-skeleton height="3rem"></p-skeleton>
        </div>
      </div>

      <ng-template #data>
        <div class="row">
          <div class="col-12 col-md-4 px-3">
            <span class="text-secondary text-uppercase">Total Gross:</span><br/>
            <span class="fw-bold fs-3">{{weeklyGross | currency}}</span>
          </div>
          <div class="col-12 col-md-4 px-3">
            <span class="text-secondary text-uppercase">Billed Miles:</span><br/>
            <span class="fw-bold fs-3">{{weeklyDistance | distanceUnit:'mi'}}</span>
          </div>
          <div class="col-12 col-md-4 px-3">
            <span class="text-secondary text-uppercase">Rate Per Mile:</span><br/>
            <span class="fw-bold fs-3">{{weeklyRpm | currency}}</span>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<div class="row g-3 mt-3">
  <div class="col-12 col-xl-7">
    <p-card>
      <ng-template pTemplate="header">
        <h4 class="ps-3 py-2">Daily Gross</h4>
        <hr class="w-100 m-0" />
      </ng-template>

      <div class="row" *ngIf="isLoadingChartData; else chart">
        <div class="col-12">
          <p-skeleton height="20vh"></p-skeleton>
        </div>
      </div>

      <ng-template #chart>
        <div class="row">
          <div class="col-12 col-md-3 mb-2">
            <span class="fw-bold">Today Gross:</span><br/>
            <span class="fw-bold fs-3">{{todayGross | currency}}</span>
          </div>
          <div class="col-12 col-md-9">
            <p-chart type="line" [data]="chartData" [options]="chartOptions" width="40vw" height="20vh"></p-chart>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-12 col-xl-5">
    <app-notifications-panel height="400px"></app-notifications-panel>
  </div>
</div>
