<p-toast key="notification" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h1 class="text-center">Add a new employee</h1>
<hr class="w-100">

<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <p-card>
      <p-progressSpinner *ngIf="isBusy"></p-progressSpinner>
      
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="name" class="form-label">User Name</label>
          <p-autoComplete formControlName="user" styleClass="w-100" inputStyleClass="form-control"
            placeholder="Type user name" field="userName" [minLength]="3" [suggestions]="suggestedUsers"
            (completeMethod)="searchUser($event)">
          </p-autoComplete>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <p-dropdown formControlName="role" styleClass="w-100" [options]="roles" 
            optionValue="name" optionLabel="displayName" [showClear]="true" (onClear)="clearSelctedRole()">
          </p-dropdown>
        </div>
        
        <div>
          <button pButton 
            type="submit"
            class="p-button-raised mt-3"
            icon="bi bi-pencil-square"
            [disabled]="isBusy"
            label="Add">
          </button>
          <button pButton 
            type="button"
            class="p-button-raised mt-3 ms-2"
            icon="bi bi-arrow-left-square"
            routerLink="/employee/list"
            label="Back to list">
          </button>
        </div>
      </form>
    </p-card>
  </div>
</div>
