<ui-autocomplete-field
  class="w-full"
  placeholder="Type a container number"
  [minQueryLength]="2"
  [delay]="300"
  optionLabel="number"
  [suggestions]="suggestedContainers()"
  [disabled]="disabled()"
  [(value)]="value"
  (completeMethod)="searchContainer($event)"
  (touch)="touch.emit()"
>
  <ng-template #empty>
    <div class="p-2">
      <span class="text-muted-foreground text-sm">
        No containers matching
        <b>"{{ lastQuery() }}"</b>
      </span>
    </div>
  </ng-template>
  <ng-template let-container #item>
    <div class="flex flex-col">
      <div class="font-medium">{{ container.number }}</div>
      <div class="text-muted-foreground text-xs">
        {{ container.isoType }}
        @if (container.currentTerminalCode) {
          · {{ container.currentTerminalCode }}
        }
      </div>
    </div>
  </ng-template>
</ui-autocomplete-field>
