<div class="sidebar" [ngClass]="{minimized: !isOpened()}">
  <a class="py-3 navbar-brand border-bottom">
    <img src="assets/images/logo.svg" class="img-fluid" height="40" alt="logo" />
    @if (isOpened()) {
      <span class="h4">{{ companyName() }}</span>
    }
  </a>

  <ul class="nav flex-column mb-auto">
    <li>
      <app-panel-menu [items]="navItems" [(expanded)]="isOpened"></app-panel-menu>
    </li>
    <li>
      <a class="nav-link border-bottom">
        <i
          [class]="isOpened() ? 'bi bi-arrow-left h2' : 'bi bi-arrow-right h2'"
          (click)="toggle()"
          [pTooltip]="isOpened() ? 'Minimize menu' : 'Maximize menu'"
          role="presentation"
        ></i>
      </a>
    </li>
  </ul>

  @if (userFullName()) {
    <div class="d-flex flex-column border-top" [class.align-items-center]="!isOpened()">
      @if (userRole() && isOpened()) {
        <div class="px-3 py-2 text-left user-select-none">
          Role: <span class="fw-bold">{{ userRole() }}</span>
        </div>
      }

      <app-panel-menu
        [items]="profileMenuItems"
        [(expanded)]="isOpened"
        class="w-100"
      ></app-panel-menu>
    </div>
  }
</div>
