<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  
  <div class="container-fluid">
    <span class="navbar-brand">
      <img src="assets/images/logo.svg" height="50" width="50" />
      {{tenantName}}
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div *ngIf="isAuthenticated; else loginButton">
            <p-button
              styleClass="p-button-lg p-button-text text-dark"  
              (click)="openAccountUrl()">
              <ng-template pTemplate="content">
                <div class="me-2">
                  <i class="bi bi-person-circle"></i>
                </div>
                <div>
                  <span>{{user?.name}}</span>
                  <span *ngIf="userRole">
                    <p-badge styleClass="ms-1" severity="success" size="large" [value]="userRole!"></p-badge>
                  </span>
                </div>
              </ng-template>
            </p-button>
          </div>
          
          <ng-template #loginButton>
            <button pButton
              class="p-button-lg p-button-text text-dark"  
              label="Login" 
              icon="bi bi-box-arrow-in-right" 
              [loading]="isBusy" 
              (click)="login()">
            </button>
          </ng-template>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <button pButton
              class="p-button-lg p-button-text text-dark"  
              label="Logout" 
              icon="bi bi-box-arrow-in-left" 
              (click)="logout()">
            </button>
        </li>
      </ul>
    </div>
  </div>
</nav>