<h1 class="text-center">{{ title }}</h1>
<hr class="w-100" />

<div class="row justify-content-center mx-0">
  <div class="col-12 col-lg-6 col-xl-8">
    <p-card>
      <div class="row mb-3">
        <div class="col-12">
          @if (isLoading) {
            <p-progressSpinner></p-progressSpinner>
          }

          @if (invoice) {
            <app-invoice-details [invoice]="invoice"></app-invoice-details>
          }

          @if (payroll) {
            <app-payroll-details [payroll]="payroll"></app-payroll-details>
          }

          @if (isPaymentCompleted) {
            <div class="d-flex align-items-center">
              <i class="bi bi-check-circle-fill text-success h1"></i>
              <h4 class="ps-2">Payment is completed</h4>
            </div>
          }

          <hr />
        </div>
      </div>

      @if (!isPaymentCompleted) {
        <div class="row">
          <div class="col-12">
            <form class="row gx-5" [formGroup]="form" (ngSubmit)="submit()">
              <app-validation-summary [form]="form"></app-validation-summary>

              <div class="col-12 col-md-6 col-lg-5">
                <h5>Billing address</h5>
                <hr />
                <app-address-form formControlName="billingAddress"></app-address-form>
              </div>

              <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-3">
                  <h5>Choose payment method:</h5>
                  @for (paymentMethod of paymentMethods; track paymentMethod.value) {
                    <div class="field-checkbox">
                      <p-radioButton
                        formControlName="paymentMethod"
                        [inputId]="paymentMethod.description"
                        [value]="paymentMethod.value"
                      ></p-radioButton>
                      <label [for]="paymentMethod.description" class="ms-2">{{
                        paymentMethod.description
                      }}</label>
                    </div>
                  }
                </div>

                @if (form.get("paymentMethod")?.value === paymentMethod.CreditCard) {
                  <h5>Credit/Debit card details</h5>
                  <hr />

                  <div class="mb-3">
                    <label for="cardholderName" class="form-label">Cardholder Name</label>
                    <input
                      id="cardholderName"
                      formControlName="cardholderName"
                      class="form-control"
                      placeholder="ex. John Smith"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="cardNumber" class="form-label">Card Number</label>
                    <p-inputMask
                      id="cardNumber"
                      formControlName="cardNumber"
                      styleClass="form-control"
                      mask="9999 9999 9999 9999"
                      placeholder="1234 0000 0000 0000"
                    />
                  </div>
                  <div class="row mb-3">
                    <div class="col-6">
                      <label for="cardExpirationDate" class="form-label">Expiration Date</label>
                      <p-inputMask
                        id="cardExpirationDate"
                        formControlName="cardExpirationDate"
                        styleClass="form-control"
                        mask="99/99"
                        placeholder="MM/YY"
                      />
                    </div>
                    <div class="col-6">
                      <label for="cardCvc" class="form-label">CVC</label>
                      <input
                        id="cardCvc"
                        formControlName="cardCvc"
                        class="form-control"
                        placeholder="123"
                      />
                    </div>
                  </div>
                } @else if (form.get("paymentMethod")?.value === paymentMethod.BankAccount) {
                  <h5>Bank account details</h5>
                  <hr />

                  <div class="mb-3">
                    <label for="bankName" class="form-label">Bank Name</label>
                    <input
                      formControlName="bankName"
                      class="form-control"
                      placeholder="ex. Bank of America"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="bankAccountNumber" class="form-label">Account Number</label>
                    <input
                      formControlName="bankAccountNumber"
                      class="form-control"
                      placeholder="ex. 1234567891011"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="bankRoutingNumber" class="form-label">Routing Number</label>
                    <input
                      formControlName="bankRoutingNumber"
                      class="form-control"
                      placeholder="ex. 123456789"
                    />
                  </div>
                }
              </div>

              <p-button
                type="submit"
                class="mt-3"
                icon="bi bi-wallet"
                label="Process payment"
                [disabled]="isLoading || !form.valid"
              >
              </p-button>
            </form>
          </div>
        </div>
      }
    </p-card>
  </div>
</div>
