<h1 class="text-center">{{title}}</h1>
<hr class="w-100">

<div class="row justify-content-center mx-0">
  <div class="col-12 col-md-6">
    <p-card>
      @if (isLoading) {
        <p-progressSpinner></p-progressSpinner>
      }
      
      <form [formGroup]="form" (ngSubmit)="submit()">
        <app-validation-summary [form]="form"></app-validation-summary>

        <div class="mb-3">
          <label for="dateRange" class="mb-2">Date range</label><br/>
          <p-calendar formControlName="dateRange"
            selectionMode="range"
            [showIcon]="true"
            [maxDate]="todayDate"
            (onSelect)="tryCalculatePayroll()">
          </p-calendar>
        </div>
        
        <div class="mb-3">
          <label for="employee" class="form-label">Employee</label>
          <p-autoComplete formControlName="employee" styleClass="w-100" 
            inputStyleClass="form-control"
            placeholder="Type employee's name" field="fullName" 
            [minLength]="2" [suggestions]="suggestedEmployees"
            (completeMethod)="searchEmployee($event)" 
            (onSelect)="handleAutoCompleteSelectEvent($event)">
          </p-autoComplete>
        </div>

        <!-- <div *ngIf="isEditMode()" class="mb-3">
          <label for="paymentStatus" class="form-label">Payment Status</label>
          <p-dropdown formControlName="paymentStatus" styleClass="w-100" [options]="paymentStatuses" 
            optionValue="value" optionLabel="description">
          </p-dropdown>
        </div> -->
        <!-- <div class="mb-3">
          <label for="paymentMethod" class="form-label">Payment Method</label>
          <p-dropdown formControlName="status" styleClass="w-100" [options]="paymentMethods" 
            optionValue="value" optionLabel="description">
          </p-dropdown>
        </div> -->
        
        @if (selectedEmployee && computedPayroll) {
          <h4>Payment details</h4>
          <hr />
  
          <p><strong>Employee Role:</strong> {{selectedEmployee.roles[0].displayName}}</p>
          <p><strong>Employee's Salary Type:</strong> {{getSalaryTypeDesc(selectedEmployee.salaryType)}}</p>
          <p>
            <strong>Employee's Salary:</strong>
            @if (isShareOfGrossSalary()) {
              {{selectedEmployee.salary | percent}}
            }
            @else {
              {{selectedEmployee.salary | currency}}
            }
          </p>
          <p><strong>Expected Payment:</strong> {{computedPayroll.payment.amount | currency}}</p>
        }
        
        <div>
          <p-button type="submit"
            class="mt-3"
            icon="bi bi-pencil-square"
            label="Save"
            [disabled]="isLoading">
          </p-button>
          <p-button type="button"
            class="mt-3 ms-2"
            icon="bi bi-arrow-left-square"
            label="Back to list"
            [routerLink]="['/accounting/payrolls']">
          </p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>
