<div class="flex flex-col">
  <form [formGroup]="form" (ngSubmit)="goToNextStep()">
    <app-validation-summary [form]="form" />

    <app-form-field label="Trip Name" for="name" [required]="true">
      <input pInputText id="name" formControlName="name" type="text" placeholder="Trip name" />
    </app-form-field>

    <app-form-field label="Assigned Truck" for="truckId" [required]="true">
      <app-search-truck formControlName="truckId" />
    </app-form-field>

    <div class="flex justify-between pt-6">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        label="Back to list"
        severity="secondary"
        [routerLink]="['/trips']"
      />
      <p-button type="submit" icon="pi pi-arrow-right" iconPos="right" label="Next" />
    </div>
  </form>
</div>
