<p-toast key="notification" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h1 class="text-center">{{headerText}}</h1>
<hr class="w-100">

<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <p-card>
      <p-progressSpinner *ngIf="isBusy"></p-progressSpinner>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="truckNumber" class="form-label">Truck Number</label>
          <input formControlName="truckNumber" id="truckNumber" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="drivers" class="form-label">Drivers</label>
          <p-autoComplete formControlName="drivers" styleClass="w-100" inputStyleClass="form-control"
            placeholder="Type a driver name" field="fullName" [minLength]="2" [multiple]="true"
            [suggestions]="suggestedDrivers"
            (completeMethod)="searchDriver($event)">
          </p-autoComplete>
        </div>

        <div>
          <button pButton 
            type="submit"
            class="p-button-raised mt-3"
            icon="bi bi-pencil-square"
            label="Save"
            [disabled]="isBusy">
          </button>
          <button pButton
            *ngIf="editMode"
            type="button"
            class="p-button-raised p-button-danger mt-3 ms-2"
            icon="bi bi bi-trash"
            label="Delete"
            [disabled]="isBusy"
            (click)="confirmToDelete()">
          </button>
          <button pButton 
            type="button"
            class="p-button-raised mt-3 ms-0 ms-md-2"
            icon="bi bi-arrow-left-square"
            routerLink="/truck/list"
            label="Back to list">
          </button>
        </div>
      </form>
    </p-card>
  </div>
</div>
