<ui-autocomplete-field
  #autoComplete
  class="w-full"
  placeholder="Type a customer name"
  [minQueryLength]="2"
  [delay]="300"
  optionLabel="name"
  [suggestions]="suggestedCustomers()"
  [(value)]="value"
  [disabled]="disabled()"
  (completeMethod)="searchCustomer($event)"
  (touch)="touch.emit()"
>
  <ng-template #empty>
    <div class="flex items-center justify-between gap-2 p-2">
      <span class="text-muted-foreground text-sm">
        No customers matching
        <b>"{{ lastQuery() }}"</b>
      </span>

      <ui-button
        appearance="text"
        size="sm"
        label="Add new customer"
        (click)="openCreateCustomer(autoComplete)"
      />
    </div>
  </ng-template>
</ui-autocomplete-field>

<ui-dialog header="Create Customer" [modal]="true" [(open)]="customerDialogVisible" width="40rem">
  <app-customer-form [mode]="'create'" (save)="handleCustomerCreated($event)" />
</ui-dialog>
