<p-autocomplete
  #autoComplete
  class="w-full"
  inputStyleClass="w-full"
  placeholder="Type a customer name"
  [minLength]="2"
  [delay]="300"
  optionLabel="name"
  [suggestions]="suggestedCustomers()"
  [(ngModel)]="selectedCustomer"
  (completeMethod)="searchCustomer($event)"
  (onSelect)="changeSelectedCustomer($event)"
>
  <ng-template #empty>
    <div class="flex items-center justify-between gap-2 p-2">
      <span class="text-muted text-sm">
        No customers matching <b>"{{ lastQuery() }}"</b>
      </span>

      <p-button
        label="Add new customer"
        size="small"
        variant="text"
        (click)="openCreateCustomer(autoComplete)"
      />
    </div>
  </ng-template>
</p-autocomplete>

<p-dialog
  header="Create Customer"
  [modal]="true"
  [(visible)]="customerDialogVisible"
  [style]="{ width: '25rem' }"
>
  <app-customer-form [mode]="'create'" (save)="handleCustomerCreated($event)" />
</p-dialog>
