<p-autocomplete
  #autoComplete
  class="w-full"
  inputStyleClass="w-full"
  placeholder="Type a customer name"
  [minLength]="2"
  [delay]="300"
  optionLabel="name"
  [suggestions]="suggestedCustomers()"
  [(ngModel)]="value"
  [disabled]="disabled()"
  (completeMethod)="searchCustomer($event)"
  (onSelect)="changeSelectedCustomer($event)"
  (onBlur)="touch.emit()"
>
  <ng-template #empty>
    <div class="flex items-center justify-between gap-2 p-2">
      <span class="text-muted-foreground text-sm">
        No customers matching
        <b>"{{ lastQuery() }}"</b>
      </span>

      <ui-button
        appearance="text"
        size="sm"
        label="Add new customer"
        (click)="openCreateCustomer(autoComplete)"
      />
    </div>
  </ng-template>
</p-autocomplete>

<p-dialog
  header="Create Customer"
  [modal]="true"
  [(visible)]="customerDialogVisible"
  [style]="{ width: '40rem' }"
>
  <app-customer-form [mode]="'create'" (save)="handleCustomerCreated($event)" />
</p-dialog>
