<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to track deliveries and optimize routes.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location in the background to track deliveries and provide real-time updates to dispatchers.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location in the background to track deliveries and provide real-time updates to dispatchers.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
