<p-card>
  <ng-template pTemplate="header">
    <h4 class="ps-3 py-2">Truck statistics for 
      <span class="text-danger">{{startDate | date:'shortDate'}}</span> - 
      <span class="text-danger">{{endDate | date:'shortDate'}}</span>
    </h4>
    <hr class="w-100 m-0" />
  </ng-template>

  <div class="mb-2">
    <app-range-calendar [(startDate)]="startDate" [(endDate)]="endDate" (applyButtonClick)="reloadTable()"></app-range-calendar>
  </div>
  
  <p-table [value]="truckStats" responsiveLayout="scroll" 
    [lazy]="true" [paginator]="true" [showCurrentPageReport]="true" 
    (onLazyLoad)="fetchTrucksStats($event)" [rows]="10"
    [totalRecords]="totalRecords" 
    [loading]="isLoading" 
    [rowsPerPageOptions]="[10,25,50]">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="truckNumber">
            Number
            <p-sortIcon field="truckNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="gross">
            Gross
            <p-sortIcon field="gross"></p-sortIcon>
          </th>
          <th pSortableColumn="driverShare">
            Driver Share
            <p-sortIcon field="driverShare"></p-sortIcon>
          </th>
          <th pSortableColumn="distance">
            Traveled Distance (mi)
            <p-sortIcon field="distance"></p-sortIcon>
          </th>
          <th>
            Drivers
          </th>
          <th>
            <span>Action</span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-truckStats>
        <tr>
          <td>
            {{truckStats.truckNumber}}
          </td>
          <td>
            {{truckStats.gross | currency}}
          </td>
          <td>
            {{truckStats.driverShare | currency}}
          </td>
          <td>
            {{truckStats.distance | distanceUnit:'mi'}}
          </td>
          <td>
            <span *ngFor="let driver of truckStats.drivers">
              {{driver.fullName}}
              <span *ngIf="truckStats.drivers.length > 1">,</span>
            </span>
          </td>
          <td>
            <button pButton 
              class="p-button-raised"
              label="View details"
              [routerLink]="['/truck/details', truckStats.truckId]">
            </button>
            <button pButton 
              class="p-button-raised ms-2"
              label="Edit"
              [routerLink]="['/truck/edit', truckStats.truckId]">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</p-card>
