<p-card header="Payment Methods">
  <div class="d-flex flex-column gap-3">
    @for (paymentMethod of paymentMethods(); track paymentMethod.id) {
      <p-card>
        <ng-template #title>
          <span>{{ getMethodLabel(paymentMethod) }}</span>
          @if (paymentMethod.isDefault) {
            <p-tag severity="success" value="Default" styleClass="ms-2" />
          }
        </ng-template>

        <ng-template #subtitle>
          @switch (paymentMethod.verificationStatus) {
            @case ("verified") {
              <p-tag severity="success" value="Verified" />
            }
            @case ("unverified") {
              <p-tag severity="danger" value="Unverified" />
            }
            @case ("pending") {
              <p-tag severity="warn" value="Verification Pending" />
            }
          }
        </ng-template>

        <div class="row mb-2">
          @switch (paymentMethod.type) {
            <!-- Card -->
            @case ("card") {
              <div class="col-6 fw-bold">Cardholder Name:</div>
              <div class="col-6">{{ paymentMethod.cardHolderName }}</div>

              <div class="col-6 fw-bold">Card Number:</div>
              <div class="col-6">{{ paymentMethod.cardNumber }}</div>

              <div class="col-6 fw-bold">CVC:</div>
              <div class="col-6">{{ paymentMethod.cvc }}</div>

              <div class="col-6 fw-bold">Expiry Date:</div>
              <div class="col-6">{{ paymentMethod.expMonth }}/{{ paymentMethod.expYear }}</div>
            }
            <!-- US Bank Account -->
            @case ("us_bank_account") {
              <div class="col-6 fw-bold">Account Holder Type:</div>
              <div class="col-6">{{ paymentMethod.accountHolderType }}</div>

              <div class="col-6 fw-bold">Account Holder:</div>
              <div class="col-6">{{ paymentMethod.accountHolderName }}</div>

              <div class="col-6 fw-bold">Bank Name:</div>
              <div class="col-6">{{ paymentMethod.bankName }}</div>

              <div class="col-6 fw-bold">Account Number:</div>
              <div class="col-6">{{ paymentMethod.accountNumber }}</div>

              <div class="col-6 fw-bold">Routing Number:</div>
              <div class="col-6">{{ paymentMethod.routingNumber }}</div>

              <div class="col-6 fw-bold">Account Type:</div>
              <div class="col-6">{{ paymentMethod.accountType }}</div>

              @if (
                paymentMethod.verificationStatus !== "verified" && paymentMethod.verificationUrl
              ) {
                <div class="col-6 fw-bold">Verification URL:</div>
                <div class="col-6">
                  <a [href]="paymentMethod.verificationUrl" target="_blank">Click here to verify</a>
                </div>
              }
            }
            <!-- International Bank Account -->
            @case ("international_bank_account") {
              <div class="col-6 fw-bold">Account Holder:</div>
              <div class="col-6">{{ paymentMethod.accountHolderName }}</div>

              <div class="col-6 fw-bold">Bank Name:</div>
              <div class="col-6">{{ paymentMethod.bankName }}</div>

              <div class="col-6 fw-bold">Account Number:</div>
              <div class="col-6">{{ paymentMethod.accountNumber }}</div>

              <div class="col-6 fw-bold">SWIFT:</div>
              <div class="col-6">{{ paymentMethod.swiftCode }}</div>
            }
          }

          <div class="col-6 fw-bold">Billing Address:</div>
          <div class="col-6">{{ paymentMethod.billingAddress | address }}</div>
        </div>

        <ng-template pTemplate="footer">
          <div class="d-flex gap-2">
            @if (!paymentMethod.isDefault) {
              <p-button
                label="Set as Default"
                icon="pi pi-check"
                size="small"
                [disabled]="isLoading()"
                (click)="setDefaultPaymentMethod(paymentMethod)"
              ></p-button>
            }

            <p-button
              label="Delete"
              icon="pi pi-times"
              severity="danger"
              size="small"
              [disabled]="isLoading()"
              (click)="deletePaymentMethod(paymentMethod)"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    }
  </div>
  <p-button
    label="Add Payment Method"
    icon="pi pi-plus"
    size="small"
    [disabled]="isLoading()"
    (click)="showDialog.set(true)"
    styleClass="mt-3"
  >
  </p-button>
</p-card>

<app-payment-method-dialog
  [(showDialog)]="showDialog"
  (paymentMethodAdded)="fetchPaymentMethods()"
></app-payment-method-dialog>
