<div class="d-flex align-items-center">
  <h1>List Trucks</h1>
  <button pButton pRipple
    class="p-button-lg p-button-rounded p-button-text text-black ms-2"
    icon="bi bi-plus-square-fill"
    pTooltip="Add a new truck"
    routerLink="/trucks/add">
  </button>
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="trucks" responsiveLayout="scroll" [lazy]="true" [paginator]="true"
        [showCurrentPageReport]="true" (onLazyLoad)="load($event)" [rows]="10" [(first)]="first"
        [totalRecords]="totalRecords" [loading]="isBusy" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="truckNumber">
              Number
              <p-sortIcon field="truckNumber"></p-sortIcon>
            </th>
            <th>
              Driver
            </th>
            <th>
              <!-- <span class="float-end">Action</span> -->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-truck>
          <tr>
            <td>
              <a [routerLink]="['/trucks/edit', truck.id]">
                {{truck.truckNumber}}
              </a>
            </td>
            <td>
              {{truck.driverName}}
            </td>
            <td>
              <button pButton 
                class="p-button-raised float-end"
                label="View stats"
                [routerLink]="['/dashboard/truck', truck.id]">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>