# Gradle
.gradle/
build/
**/build/
!**/src/**/build/
!**/test/**/build/
*.gradle.kts.versions/

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
local.properties

# Android-specific
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/app/*.iml

# iOS-specific
iosApp/build/
iosApp/*.xcodeproj/project.pbxproj
iosApp/*.xcworkspace/
iosApp/Podfile.lock
iosApp/Pods/
iosApp/.idea/
iosApp/.gradle/
iosApp/*.iml
iosApp/*.xcworkspace/xcuserdata/
iosApp/*.xcodeproj/xcuserdata/

# macOS-specific (if targeting macOS)
macosApp/build/
macosApp/*.xcodeproj/
macosApp/*.xcworkspace/

# Web-specific (if targeting JS/WebAssembly)
webApp/build/

# Other
*.log
*.DS_Store

google-services.json
GoogleService-Info.plist
