@page "/"
@attribute [Authorize(Policy = Permissions.Tenant.View)]

<PageTitle>Logistics Admin</PageTitle>

<h1>Site Administration</h1>

<table class="table table-hover">
    <thead>
    <tr class="row bg-light">
        <th class="col-6 col-sm-7 col-md-8 col-lg-9">Catalog</th>
        <th class="col-6 col-sm-5 col-md-4 col-lg-3">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row">
        <td class="col-6 col-sm-7 col-md-8 col-lg-9">
            <span class="fw-bold">Tenants</span>
        </td>
        <td class="col-6 col-sm-5 col-md-4 col-lg-3">
            <NavLink class="btn btn-primary" href="/edit-tenant">
                <i class="bi bi-pencil"></i> Add
            </NavLink>
            <NavLink class="btn btn-primary" href="/list-tenant">
                <i class="bi bi-list"></i> List
            </NavLink>
        </td>
    </tr>
    </tbody>
</table>
