app-nav-dock .p-dock .p-dock-list {
  background: #c2d1dd;
}

app-nav-dock .p-dock .p-dock-action {
  width: 2.5rem;
  height: 2.5rem
}

app-nav-dock .dock-icon {
  background: #c2d1dd;
  border-radius: 0.4rem;
}