<h1 class="text-center">{{ title() }}</h1>

<div class="flex flex-col justify-center gap-6 md:flex-row">
  <div class="w-full md:w-1/2">
    <p-card>
      @if (isLoading()) {
        <p-progress-spinner />
      }
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ui-labeled-field label="Truck Number" for="truckNumber" [required]="true">
          <input pInputText formControlName="truckNumber" id="truckNumber" />
        </ui-labeled-field>
        <ui-labeled-field label="Truck Type" for="truckType" [required]="true">
          <p-select
            formControlName="truckType"
            [options]="truckTypes"
            placeholder="Select a truck type"
          />
        </ui-labeled-field>
        <ui-labeled-field label="Truck Status" for="truckStatus" [required]="true">
          <p-select
            formControlName="truckStatus"
            [options]="truckStatuses"
            placeholder="Select a truck status"
          />
        </ui-labeled-field>

        <!-- <ui-labeled-field for="driverIncomePercentage" label="Driver Income Percentage">
          <div class="input-group">
            <span class="input-group-text">%</span>
            <input formControlName="driverIncomePercentage" id="driverIncomePercentage" class="form-control" type="number" min="0" max="100" />
          </div>
        </ui-labeled-field> -->

        <ui-labeled-field label="Main Driver" for="mainDriver" [required]="true">
          <p-autocomplete
            formControlName="mainDriver"
            class="w-full"
            inputStyleClass="w-full"
            placeholder="Type a driver name"
            optionLabel="fullName"
            [minLength]="2"
            [suggestions]="suggestedDrivers()"
            (completeMethod)="searchDriver($event)"
          />
        </ui-labeled-field>

        <ui-labeled-field label="Secondary Driver" for="secondaryDriver">
          <p-autocomplete
            formControlName="secondaryDriver"
            class="w-full"
            inputStyleClass="w-full"
            placeholder="Type a driver name"
            optionLabel="fullName"
            [minLength]="2"
            [suggestions]="suggestedDrivers()"
            (completeMethod)="searchDriver($event)"
          />
        </ui-labeled-field>

        <div class="flex gap-2">
          <p-button
            type="submit"
            icon="pi pi-pen-to-square"
            label="Save"
            [disabled]="isLoading()"
          />
          @if (id()) {
            <p-button
              type="button"
              icon="pi pi-trash"
              label="Delete"
              severity="danger"
              [disabled]="isLoading()"
              (click)="confirmToDelete()"
            />
          }
          <p-button
            type="button"
            icon="pi pi-arrow-left"
            label="Back to list"
            [routerLink]="['/trucks']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
