<div class="d-flex align-items-center">
  <h1>Invoices for the past 90 days</h1>
  <!-- <button pButton pRipple
    class="p-button-lg p-button-rounded p-button-text text-black ms-2"
    icon="bi bi-plus-square-fill"
    pTooltip="Add a new invoice"
    routerLink="/accounting/invoices/add">
  </button> -->
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="invoices" responsiveLayout="scroll" [lazy]="true" 
        [paginator]="true" [showCurrentPageReport]="true"
        (onLazyLoad)="load($event)" [rows]="10" [(first)]="first" 
        [totalRecords]="totalRecords" [loading]="isLoading"
        [rowsPerPageOptions]="[10,25,50]">

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="loadRef">
              Load ID
              <p-sortIcon field="loadRef"></p-sortIcon>
            </th>
            <th pSortableColumn="customerName">
              Customer
              <p-sortIcon field="customerName"></p-sortIcon>
            </th>
            <th pSortableColumn="paymentAmount">
              Payment Amount
              <p-sortIcon field="paymentAmount"></p-sortIcon>
            </th>
            <th pSortableColumn="paymentStatus">
              Payment Status
              <p-sortIcon field="paymentStatus"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">
              Invoice Date
              <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th pSortableColumn="paymentDate">
              Payment Date
              <p-sortIcon field="paymentDate"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td>
              <a [routerLink]="['/accounting/loads/edit', invoice.loadId]">
                {{invoice.loadRef}}
              </a>
            </td>
            <td>{{invoice.customer.name}}</td>
            <td>{{invoice.payment.amount | currency}}</td>
            <td>{{getPaymentStatusDesc(invoice.payment.status)}}</td>
            <td>{{invoice.createdDate | date:'mediumDate'}}</td>
            <td>{{invoice.payment.paymentDate | date:'mediumDate'}}</td>
            <td>
              <button pButton 
                class="p-button-raised"
                [routerLink]="['/accounting/invoices/view', invoice.id]">
                View details
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
