.popup {
  position: absolute;
  z-index: 100;
  border: 1px solid var(--border-default);
  background: var(--bg-elevated);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 0.25rem;
  width: 100%;
}

.popup-item {
  padding: 0.5rem;
  cursor: pointer;
}

.popup-item:hover {
  background-color: var(--bg-hover);
}
