<div class="relative">
  <ui-text-field
    [id]="field()"
    class="block w-full"
    [placeholder]="placeholder()"
    [value]="addressString() ?? ''"
    (valueChange)="handleAddressInputChange($event)"
    (focusout)="handleInputFocusOut()"
  />

  @if (searchResults().length) {
    <div class="popup">
      @for (result of searchResults(); track result.id) {
        <div class="popup-item" (click)="handleClickAddress(result)" role="presentation">
          {{ result.properties.full_address }}
        </div>
      }
    </div>
  }
</div>
