<ui-timeline [value]="events()">
  <ng-template uiTimelineContent let-event>
    <div class="flex flex-col gap-1 pb-4">
      <div class="flex flex-wrap items-center gap-2">
        <ui-badge
          [severity]="getEventSeverity(event.eventType)"
          [value]="getEventLabel(event.eventType)"
        />
        <span class="text-muted-foreground text-xs">
          {{ event.timestamp | date: "short" }}
        </span>
      </div>
      <p class="m-0 text-sm">{{ event.description }}</p>
      @if (event.loadName) {
        <span class="text-muted-foreground text-xs">
          <ui-icon name="box" class="mr-1" />
          {{ event.loadName }}
        </span>
      }
    </div>
  </ng-template>
  <ng-template uiTimelineMarker let-event>
    <span
      class="z-10 flex h-7 w-7 items-center justify-center rounded-full shadow-sm"
      [class]="getMarkerClass(event.eventType)"
    >
      <ui-icon [name]="getEventIcon(event.eventType)" size="inherit" class="text-xs" />
    </span>
  </ng-template>
</ui-timeline>
