<p-card>
  <ng-template pTemplate="header">
    <h4 class="py-2 ps-3">
      Gross income for
      <span class="text-danger">{{ startDate() | date: "shortDate" }}</span> -
      <span class="text-danger">{{ endDate() | date: "shortDate" }}</span>
    </h4>
    <hr class="m-0 w-full" />
  </ng-template>

  @if (isLoading()) {
    <div>
      <p-skeleton styleClass="my-2" height="20rem" width="100%"></p-skeleton>
    </div>
  } @else {
    <div class="mb-2">
      <app-range-calendar
        [(startDate)]="startDate"
        [(endDate)]="endDate"
        (applyButtonClick)="fetchMonthlyGrosses()"
      ></app-range-calendar>
    </div>
    <p-chart
      type="bar"
      [data]="chartData()"
      [options]="chartOptions()"
      width="100%"
      height="20rem"
    />
  }
</p-card>
