<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v11'"
  [zoom]="[zoom()]"
  [center]="center()"
  [fitBounds]="bounds()!"
  [fitBoundsOptions]="{padding: 50}"
  [style.width]="width()"
  [style.height]="height()"
>
  <mgl-image
    id="stop-pin"
    url="https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png"
    (imageLoaded)="imageLoaded.set(true)"
  />

  <!-- one layer per segment -->
  @for (segment of segments(); track segment.layerId; let i = $index) {
    <mgl-layer
      [id]="segment.layerId"
      type="line"
      [source]="segment.source"
      [paint]="{'line-color': segmentColors[i % segmentColors.length], 'line-width': 6}"
    />
  }

  <!-- <mgl-layer
    id="stop-bubbles"
    type="circle"
    [source]="stopsSource()!"
    [paint]="{
      'circle-radius': 12,
      'circle-color': '#ffffff',
      'circle-stroke-color': '#000',
      'circle-stroke-width': 1,
    }"
  /> -->

  <!-- all stop points -->
  @if (stopsSource() && imageLoaded()) {
    <mgl-layer
      id="stop-labels"
      type="symbol"
      [source]="stopsSource()!"
      [layout]="{
        'icon-image': 'stop-pin',
        'icon-offset': [0, -15],
        'text-field': ['get', 'label'],
        'text-font': ['Open Sans Bold', 'Arial Unicode MS Bold'],
        'text-size': 16,
        'text-offset': [0, -1.9],
        'text-anchor': 'top',
      }"
      [paint]="{
        'text-color': '#000',
        'text-halo-color': '#fff',
        'text-halo-width': 1,
      }"
    />
  }
</mgl-map>
