<div class="d-flex">
  <h1>List Loads</h1>
  <a class="add-btn" [routerLink]="['/loads/edit']" pTooltip="Add a new load"><i class="bi bi-plus-square-fill fs-2"></i></a>
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="loads" responsiveLayout="scroll" [lazy]="true" [paginator]="true" [showCurrentPageReport]="true"
        (onLazyLoad)="load($event)" [rows]="10" [(first)]="first" [totalRecords]="totalRecords" [loading]="isBusy">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="referenceId">
              ID
              <p-sortIcon field="referenceId"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="sourceAddress">
              Source
              <p-sortIcon field="sourceAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="destinationAddress">
              Destination
              <p-sortIcon field="destinationAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="dispatchedDate">
              Dispatched
              <p-sortIcon field="dispatchedDate"></p-sortIcon>
            </th>
            <th pSortableColumn="pickUpDate">
              Pick Up
              <p-sortIcon field="pickUpDate"></p-sortIcon>
            </th>
            <th pSortableColumn="deliveryDate">
              Delivery
              <p-sortIcon field="deliveryDate"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="distance">
              Distance
              <p-sortIcon field="distance"></p-sortIcon>
            </th>
            <th pSortableColumn="deliveryCost">
              Cost
              <p-sortIcon field="deliveryCost"></p-sortIcon>
            </th>
            <th>
              Dispatcher
            </th>
            <th>
              Driver
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-load>
          <tr>
            <td>{{load.referenceId}}</td>
            <td>{{load.name}}</td>
            <td [pTooltip]="load.sourceAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.sourceAddress}}
            </td>
            <td [pTooltip]="load.sourceAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.destinationAddress}}
            </td>
            <td>{{load.dispatchedDate | date:'mediumDate'}}</td>
            <td>{{load.pickUpDate | date:'mediumDate'}}</td>
            <td>{{load.deliveryDate | date:'mediumDate'}}</td>
            <td>{{load.status}}</td>
            <td>{{load.distance}}</td>
            <td>{{load.deliveryCost}}</td>
            <td>{{load.assignedDispatcherName}}</td>
            <td>{{load.assignedDriverName}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/loads/edit']" [state]="{id: load.id}">Edit</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>