<h4>Payroll details</h4>
<hr />

<div class="row mb-3">
  <div class="col-4">
    <h6>Employee:</h6>
  </div>
  <div class="col-8">
    {{ payroll.employee.fullName }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Employee position:</h6>
  </div>
  <div class="col-8">
    {{ payroll.employee.roles[0].displayName }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Billing period:</h6>
  </div>
  <div class="col-8">
    {{ payroll.startDate | date: "mediumDate" }} - {{ payroll.endDate | date: "mediumDate" }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Salary type:</h6>
  </div>
  <div class="col-8">
    {{ getSalaryTypeDesc(payroll.employee.salaryType) }}
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Salary:</h6>
  </div>
  <div class="col-8">
    @if (payroll.employee.salaryType === salaryType.ShareOfGross) {
      {{ payroll.employee.salary | percent }} of gross
    } @else {
      {{ payroll.employee.salary | currency }}
    }
  </div>
</div>
<div class="row mb-3">
  <div class="col-4">
    <h6>Payment amount:</h6>
  </div>
  <div class="col-8">
    {{ payroll.payment.amount | currency }}
  </div>
</div>
