<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v11'"
  [zoom]="[zoom()]"
  [center]="center()"
  [fitBounds]="bounds()!"
  [fitBoundsOptions]="{padding: 50}"
  [style.width]="width()"
  [style.height]="height()"
>
  <mgl-image
    id="custom-marker"
    url="https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png"
    (imageLoaded)="imageLoaded.set(true)"
  />

  <!-- Route Layer -->
  @if (route()) {
    <mgl-layer
      id="routeLayer"
      type="line"
      [source]="route()!"
      [paint]="{
        'line-color': '#28a745',
        'line-width': 8,
      }"
    />
  }

  <!-- all stop points -->
  @if (stopsSource() && imageLoaded()) {
    <!-- symbols for first / last -->
    <mgl-layer
      id="stopSymbols"
      type="symbol"
      [source]="stopsSource()!"
      [layout]="{
        'icon-image': ['case', ['==', ['get', 'kind'], 'edge'], 'custom-marker', ''],
      }"
    />
    <!-- circles for middle points -->
    <mgl-layer
      id="midCircles"
      type="circle"
      [source]="stopsSource()!"
      [filter]="['==', ['get', 'kind'], 'mid']"
      [paint]="{
        'circle-radius': 6,
        'circle-color': '#0074D9',
        'circle-stroke-width': 2,
        'circle-stroke-color': '#fff',
      }"
    />
  }
</mgl-map>
