@inherits LayoutComponentBase

<PageTitle>Logistics Management</PageTitle>
<Toast @ref="toastRef" ToastPosition="Toast.Position.BottomRight"></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <CascadingValue Value="toastRef">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private Toast? toastRef;
}