@inherits LayoutViewBase<MainLayoutViewModel>

<PageTitle>Logistics Management</PageTitle>
<Toast @ref="_toastRef" ToastPosition="Toast.Position.BottomRight"></Toast>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <Alert @ref="_alertRef" />
            <CascadingValue Value="_toastRef">
                <CascadingValue Value="_alertRef">
                    @Body
                </CascadingValue>
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    private Toast? _toastRef;
    private Alert? _alertRef;
}