@namespace Logistics.BlazorComponents.Popups

@{
    var showClass = IsVisible ? "show d-block" : "hide d-none";
}

<div class="modal fade @showClass"
    id="@Id"
    role="dialog"
    tabindex="-1"
    aria-modal="true"
    aria-labelledby="@Id"
    data-bs-backdrop="static" 
    data-bs-keyboard="false">

    <div class="modal-dialog modal-dialog-scrollable @GetAlign(DialogAlign)">
        <div class="modal-content">
            @if (Header != null)
            {
                <div class="modal-header">
                    @Header
                </div>
            }

            <div class="modal-body">
                @ChildContent
            </div>
            @if (Footer != null)
            {
                <div class="modal-footer">
                    @Footer
                </div>
            }
        </div>
    </div>
</div>
