@namespace Logistics.BlazorComponents.Popups

@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="toast-container p-3 @GetPosition(ToastPosition) @showClass"
    data-bs-autohide="true"
    data-bs-delay="@Timeout">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@HeaderText</strong>
            <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
        </div>

        <div class="toast-body">
            @BodyText
        </div>
    </div>
</div>
