<p-confirm-dialog header="Confirmation" icon="pi pi-exclamation-triangle" />

<h1 class="text-center">Add a new employee</h1>
<hr class="w-100" />

<div class="row justify-content-center">
  <div class="col-md-6 col-12">
    <p-card>
      @if (isLoading()) {
        <p-progress-spinner />
      }

      <form [formGroup]="form" (ngSubmit)="submit()">
        <app-validation-summary [form]="form" />

        <div class="mb-3">
          <label for="name" class="form-label">User Name</label>
          <p-auto-complete
            formControlName="user"
            styleClass="w-100"
            inputStyleClass="form-control"
            placeholder="Type user name"
            optionLabel="userName"
            [minLength]="3"
            [suggestions]="suggestedUsers()"
            (completeMethod)="searchUser($event)"
          />
        </div>
        <div class="mb-3">
          <label for="salaryType" class="form-label">Salary Type</label>
          <p-select formControlName="salaryType" styleClass="w-100" [options]="salaryTypes" />
        </div>
        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          @if (isShareOfGrossSalary()) {
            <div class="input-group">
              <span class="input-group-text">%</span>
              <input
                id="salary"
                formControlName="salary"
                type="number"
                class="form-control"
                [min]="0"
                [max]="100"
              />
            </div>
          } @else {
            <div class="input-group">
              <span class="input-group-text">$$</span>
              <input
                id="salary"
                formControlName="salary"
                type="number"
                class="form-control"
                [min]="0"
                [disabled]="isNoneSalary()"
              />
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <p-select
            formControlName="role"
            styleClass="w-100"
            [options]="roles()"
            optionValue="name"
            optionLabel="displayName"
            [showClear]="true"
            (onClear)="clearSelectedRole()"
          />
        </div>

        <div>
          <p-button
            type="submit"
            class="mt-3"
            icon="bi bi-pencil-square"
            label="Add"
            [disabled]="isLoading()"
          />
          <p-button
            type="button"
            class="ms-2 mt-3"
            icon="bi bi-arrow-left-square"
            label="Back to list"
            [routerLink]="['/employees']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
