<p-toast key="notification" position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<h1>Edit a load #{{ loadRefId }}</h1>
<hr class="w-100" />

<p-card>
  <div class="row">
    <div class="col-12 col-md-6">
      @if (isLoading) {
        <p-progressSpinner></p-progressSpinner>
      }
      <form [formGroup]="form" (ngSubmit)="updateLoad()">
        <app-validation-summary [form]="form"></app-validation-summary>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Load name"
          />
        </div>
        <div class="mb-3">
          <label for="customer" class="form-label">Customer</label>
          <app-search-customer formControlName="customer"></app-search-customer>
        </div>
        <div class="mb-3">
          <label for="orgAddress" class="form-label">Origin Address</label>
          <app-address-autocomplete
            field="orgAddress"
            formControlName="orgAddress"
            [accessToken]="accessToken"
            [forceSelection]="true"
            (selectedAddress)="updateOrigin($event)"
          >
          </app-address-autocomplete>
        </div>
        <div class="mb-3">
          <label for="dstAddress" class="form-label">Destination Address</label>
          <app-address-autocomplete
            field="dstAddress"
            formControlName="dstAddress"
            [accessToken]="accessToken"
            [forceSelection]="true"
            (selectedAddress)="updateDestination($event)"
          >
          </app-address-autocomplete>
        </div>
        <div class="mb-3">
          <label for="deliveryCost" class="form-label">Delivery Cost</label>
          <div class="input-group">
            <span class="input-group-text">$$</span>
            <input
              id="deliveryCost"
              formControlName="deliveryCost"
              type="number"
              class="form-control"
              min="0"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="distance" class="form-label">Estimated Distance</label>
          <div class="input-group">
            <span class="input-group-text">mi</span>
            <input
              id="distance"
              formControlName="distance"
              type="number"
              class="form-control"
              min="0"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="dispatcherName" class="form-label">Assigned Dispatcher</label>
          <input
            id="dispatcherName"
            formControlName="assignedDispatcherName"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="assignedTruck" class="form-label">Assigned Truck</label>
          <app-search-truck formControlName="assignedTruck"></app-search-truck>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <p-select formControlName="status" styleClass="w-100" [options]="loadStatuses">
          </p-select>
        </div>

        <p-button
          type="submit"
          class="mt-3"
          icon="bi bi-pencil-square"
          label="Save"
          [disabled]="isLoading || !form.valid"
        >
        </p-button>
        <p-button
          type="button"
          styleClass="mt-3 ms-2"
          icon="bi bi bi-trash"
          label="Delete"
          severity="danger"
          [disabled]="isLoading"
          (click)="confirmToDelete()"
        >
        </p-button>
        <p-button
          type="button"
          class="mt-3 ms-0 ms-md-2"
          icon="bi bi-arrow-left-square"
          label="Back to list"
          [routerLink]="['/loads']"
        >
        </p-button>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <app-directions-map
        [accessToken]="accessToken"
        [start]="originCoords"
        [end]="destinationCoords"
        (routeChanged)="updateDistance($event)"
      >
      </app-directions-map>
    </div>
  </div>
</p-card>
