<mgl-map [accessToken]="accessToken"
  [style]="'mapbox://styles/mapbox/streets-v11'" 
  [zoom]="[3]" 
  [center]="center">
  <ng-container *ngFor="let geoData of geolocationData; trackBy: trackByFn">
    <mgl-marker #marker [lngLat]="[geoData.longitude, geoData.latitude]">
      <div class="text-center" (click)="onSelectMarker(geoData, marker)">
        <div class="bg-dark text-light rounded" >
          {{geoData.truckNumber}}
        </div>
        <div class="text-danger">
          <i class="bi bi-geo-alt-fill h4"></i>
        </div>
      </div>
    </mgl-marker>
  </ng-container>

  <mgl-popup *ngIf="selectedMarker" [marker]="selectedMarker.component">
    <span>Truck: {{selectedMarker.data.truckNumber}}</span><br/>
    <span>Drivers: {{selectedMarker.data.driversName}}</span>
  </mgl-popup>
</mgl-map>
