<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v11'"
  [zoom]="[zoom()]"
  [center]="center()"
  [style.width]="width()"
  [style.height]="height()"
>
  @for (geoData of geolocationData(); track geoData.truckId) {
    @if (geoData.currentLocation) {
      <mgl-marker
        #marker
        [lngLat]="[geoData.currentLocation.longitude ?? 0, geoData.currentLocation.latitude ?? 0]"
      >
        <div class="text-center" (click)="onSelectMarker(geoData, marker)" role="presentation">
          <div class="bg-gray-800 text-gray-100 rounded">{{ geoData.truckNumber }}</div>
          <div class="text-red-600">
            <i class="pi pi-map-marker text-xl"></i>
          </div>
        </div>
      </mgl-marker>
    }
  }
  @if (selectedMarker()) {
    <mgl-popup [marker]="selectedMarker()!.component">
      <span> <strong>Truck:</strong> {{ selectedMarker()!.data.truckNumber }} </span><br />
      <span> <strong>Drivers:</strong> {{ selectedMarker()!.data.driversName }} </span><br />
      @if (selectedMarker()!.data.currentAddress) {
        <span>
          <strong>Address:</strong>
          {{ selectedMarker()!.data.currentAddress | address }}
        </span>
      }
    </mgl-popup>
  }
</mgl-map>
