<div class="d-flex align-items-center">
  <h1>List Loads</h1>
  <p-button
    styleClass="text-black ms-2"
    icon="bi bi-plus-square-fill"
    size="large"
    [rounded]="true"
    [text]="true"
    pTooltip="Add a new load"
    [routerLink]="['/loads/add']">
  </p-button>
</div>
<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="loads" responsiveLayout="scroll" [lazy]="true" 
        [paginator]="true" [showCurrentPageReport]="true"
        (onLazyLoad)="load($event)" [rows]="10" [(first)]="first" 
        [totalRecords]="totalRecords" [loading]="isLoading"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="refId">
              ID
              <p-sortIcon field="refId"></p-sortIcon>
            </th>
            <th pSortableColumn="name">
              Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="originAddress">
              Origin
              <p-sortIcon field="originAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="destinationAddress">
              Destination
              <p-sortIcon field="destinationAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="dispatchedDate">
              Dispatched
              <p-sortIcon field="dispatchedDate"></p-sortIcon>
            </th>
            <th pSortableColumn="pickUpDate">
              Pick Up
              <p-sortIcon field="pickUpDate"></p-sortIcon>
            </th>
            <th pSortableColumn="deliveryDate">
              Delivery
              <p-sortIcon field="deliveryDate"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status
              <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="distance">
              Distance (mi)
              <p-sortIcon field="distance"></p-sortIcon>
            </th>
            <th pSortableColumn="deliveryCost">
              Cost
              <p-sortIcon field="deliveryCost"></p-sortIcon>
            </th>
            <th pSortableColumn="invoicePaymentStatus">
              Invoice Payment Status
              <p-sortIcon field="invoicePaymentStatus"></p-sortIcon>
            </th>
            <th pSortableColumn="assignedTruck">
              Truck
              <p-sortIcon field="assignedTruck"></p-sortIcon>
            </th>
            <th pSortableColumn="assignedDispatcher">
              Dispatcher
              <p-sortIcon field="assignedDispatcher"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-load>
          <tr>
            <td>{{load.refId}}</td>
            <td [pTooltip]="load.name" [showDelay]="500" tooltipPosition="bottom">
              {{load.name}}
            </td>
            <td [pTooltip]="load.originAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.originAddress}}
            </td>
            <td [pTooltip]="load.destinationAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.destinationAddress}}
            </td>
            <td>{{load.dispatchedDate | date:'mediumDate'}}</td>
            <td>{{load.pickUpDate | date:'mediumDate'}}</td>
            <td>{{load.deliveryDate | date:'mediumDate'}}</td>
            <td>{{getLoadStatusDesc(load.status)}}</td>
            <td>{{load.distance | distanceUnit:'mi'}}</td>
            <td>{{load.deliveryCost | currency}}</td>
            <td>
              <app-payment-status-tag [paymentStatus]="load.invoice.payment.status"></app-payment-status-tag>
            </td>
            <td>{{load.assignedTruckNumber}}</td>
            <td>{{load.assignedDispatcherName}}</td>
            <td class="overflow-visible">
              <p-button 
                icon="bi bi-pencil"
                pTooltip="Edit load details"
                tooltipPosition="bottom"
                [routerLink]="['/loads/edit', load.id]">
              </p-button>
              <p-button 
                styleClass="ms-2"
                icon="bi bi-truck"
                pTooltip="View truck details"
                tooltipPosition="bottom"
                [routerLink]="['/trucks/view', load.assignedTruckId]">
              </p-button>
              <p-button 
                styleClass="ms-2"
                icon="bi bi-card-list"
                pTooltip="View invoice details"
                tooltipPosition="bottom"
                [routerLink]="['/accounting/invoices/view', load.invoice.id]">
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
