app-breadcrumb .p-breadcrumb {
  padding: 1rem 1rem 0.5rem 1rem;
}

app-breadcrumb .p-breadcrumb ul li .p-menuitem-text {
  color: #495057 !important;
}

// app-breadcrumb .p-breadcrumb ul li:last-child .p-menuitem-text {
//   color: #6c757d !important;
// }

app-breadcrumb .p-menuitem-icon {
  color: #495057 !important;
  font-size: larger;
}
