<p-card>
  <ng-template #header>
    <div class="flex items-center gap-2 py-3 pl-4">
      <p-overlaybadge [value]="getUnreadNotificationsCount()">
        <i class="pi pi-bell text-2xl text-(--primary-500)"></i>
      </p-overlaybadge>
      <h4 class="mb-0">Notifications</h4>
    </div>
    <p-divider class="m-0" />
  </ng-template>

  <div class="notification-list" [style]="{ maxHeight: height() }">
    @if (isLoading()) {
      <div class="notification-loading">
        <p-progress-spinner />
      </div>
    } @else {
      @for (notification of notifications(); track notification.id) {
        <div
          class="notification-item"
          [class.unread]="!notification.isRead"
          (click)="showNotification(notification)"
          role="presentation"
        >
          <h5>{{ notification.title }}</h5>
          <div class="flex items-start justify-between gap-2">
            <span class="notification-message">{{ notification.message }}</span>
            <span class="notification-time whitespace-nowrap">{{ notification.createdDate ?? "" | timeAgo }}</span>
          </div>
        </div>
      } @empty {
        <p class="notification-empty">No notifications.</p>
      }
    }
  </div>
</p-card>

<p-dialog
  [(visible)]="showDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [closable]="false"
  [dismissableMask]="true"
>
  <ng-template #header>
    <span>{{ selectedNotification()?.title }}</span>
  </ng-template>

  <p>{{ selectedNotification()?.message }}</p>

  <ng-template #footer>
    <p-button label="Close" icon="pi pi-check" (click)="closeDialog()" />
  </ng-template>
</p-dialog>
