<div class="d-flex align-items-center">
  <h1>Payroll Invoices</h1>
  <p-button
    styleClass="text-black ms-2"
    icon="bi bi-plus-square-fill"
    size="large"
    [rounded]="true"
    [text]="true"
    pTooltip="Add a new payroll invoice"
    [routerLink]="['/invoices/payrolls/add']"
  >
  </p-button>
</div>
<hr class="w-100" />

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table
        [value]="invoices()"
        responsiveLayout="scroll"
        [lazy]="true"
        [paginator]="true"
        [showCurrentPageReport]="true"
        (onLazyLoad)="load($event)"
        [rows]="10"
        [(first)]="first"
        [totalRecords]="totalRecords()"
        [loading]="isLoading()"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="caption">
          <p-icon-field>
            <p-inputicon class="pi pi-search" />
            <input
              pInputText
              type="text"
              placeholder="Search by employeer name"
              (input)="search($event)"
            />
          </p-icon-field>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Period</th>
            <th pSortableColumn="Employee.FirstName">
              Employee
              <p-sortIcon field="Employee.FirstName"></p-sortIcon>
            </th>
            <th pSortableColumn="Employee.SalaryType">
              Employee Salary Type
              <p-sortIcon field="Employee.SalaryType"></p-sortIcon>
            </th>
            <th pSortableColumn="Employee.Salary">
              Employee Salary
              <p-sortIcon field="Employee.Salary"></p-sortIcon>
            </th>
            <th pSortableColumn="Total">
              Invoice Total
              <p-sortIcon field="Total"></p-sortIcon>
            </th>
            <th pSortableColumn="Status">
              Invoice Status
              <p-sortIcon field="Status"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td>
              {{ invoice.periodStart | date: "MMM d" }} -
              {{ invoice.periodEnd | date: "mediumDate" }}
            </td>
            <td>{{ invoice.employee.fullName }}</td>
            <td>{{ getSalaryTypeDesc(invoice.employee.salaryType) }}</td>
            <td>
              @if (invoice.employee.salaryType === "share_of_gross") {
                {{ invoice.employee.salary | percent }}
              } @else {
                {{ invoice.employee.salary | currency }}
              }
            </td>
            <td>{{ invoice.total.amount | currency }}</td>
            <td>
              <app-invoice-status-tag [status]="invoice.status"></app-invoice-status-tag>
            </td>
            <td class="overflow-visible">
              <!-- @if (invoice.payment.status === "pending") {
                <p-button
                  icon="bi bi-credit-card"
                  pTooltip="Make payment"
                  tooltipPosition="bottom"
                  [routerLink]="['/payment/payroll', invoice.id]"
                >
                </p-button>
              } -->

              <p-button
                class="ms-2"
                icon="bi bi-pencil"
                pTooltip="Edit payroll invoice"
                tooltipPosition="bottom"
                [routerLink]="['/invoices/payroll', invoice.id, 'edit']"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>
