<h1>List Employees</h1>
<hr class="w-100">

<p-card>
    <div class="row">
        <div class="col-12">
            <p-table [value]="employees" [lazy]="true" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                (onLazyLoad)="loadEmployees($event)" [(first)]="page" [totalRecords]="totalRecords" [loading]="isBusy">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Joined Date</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee>
                    <tr>
                        <td>{{employee.userName}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phoneNumber}}</td>
                        <td>{{employee.role}}</td>
                        <td>{{employee.joinedDate | date:'mediumDate'}}</td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['/employees/edit']" [state]="{id: employee.id}">Edit</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>
