<div class="d-flex">
  <h1>List Employees</h1>
  <a class="add-btn" [routerLink]="['/employees/add']" pTooltip="Add a new employee"><i class="bi bi-plus-square-fill fs-2"></i></a>
</div>

<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="employees" responsiveLayout="scroll" [lazy]="true" [paginator]="true"
        [showCurrentPageReport]="true" (onLazyLoad)="load($event)" [rows]="10" [(first)]="first"
        [totalRecords]="totalRecords" [loading]="isBusy">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="userName">
              Username
              <p-sortIcon field="userName"></p-sortIcon>
            </th>
            <th pSortableColumn="firstName">
              First Name
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">
              Last Name
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNumber">
              Phone Number
              <p-sortIcon field="phoneNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="roles">
              Role
              <p-sortIcon field="roles"></p-sortIcon>
            </th>
            <th pSortableColumn="joinedDate">
              Joined Date
              <p-sortIcon field="joinedDate"></p-sortIcon>
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
          <tr>
            <td>{{employee.userName}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.roles}}</td>
            <td>{{employee.joinedDate | date:'mediumDate'}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/employees/edit']" [state]="{id: employee.id}">Edit</a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>