<div class="d-flex align-items-center">
  <h1>List Employees</h1>
  <button pButton pRipple
    class="p-button-lg p-button-rounded p-button-text text-black ms-2"
    icon="bi bi-plus-square-fill"
    pTooltip="Add a new employee"
    routerLink="/employees/add">
  </button>
</div>

<hr class="w-100">

<p-card>
  <div class="row">
    <div class="col-12">
      <p-table [value]="employees" responsiveLayout="scroll" [lazy]="true" [paginator]="true"
        [showCurrentPageReport]="true" (onLazyLoad)="load($event)" [rows]="10" [(first)]="first"
        [totalRecords]="totalRecords" [loading]="isBusy">
        <ng-template pTemplate="caption">
          <div class="d-flex">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search" (input)="search($event)" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="userName">
              Username
              <p-sortIcon field="userName"></p-sortIcon>
            </th>
            <th pSortableColumn="firstName">
              First Name
              <p-sortIcon field="firstName"></p-sortIcon>
            </th>
            <th pSortableColumn="lastName">
              Last Name
              <p-sortIcon field="lastName"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNumber">
              Phone Number
              <p-sortIcon field="phoneNumber"></p-sortIcon>
            </th>
            <th>
              Role
            </th>
            <th pSortableColumn="joinedDate">
              Joined Date
              <p-sortIcon field="joinedDate"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
          <tr>
            <td>
              <a [routerLink]="['/employees/edit', employee.id]">
                {{employee.userName}}
              </a>
            </td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.roles[0]?.displayName}}</td>
            <td>{{employee.joinedDate | date:'mediumDate'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>