@if (disabled()) {
  <ui-stack direction="row" class="mb-4">
    <ui-alert intent="info">
      You cannot edit this trip because it is not in the 'Draft' status. Only the trip name can be
      edited.
    </ui-alert>
  </ui-stack>
}

<ui-stepper [linear]="true" [value]="activeStep()" (valueChange)="store['goToStep']($event)">
  <ui-step-list>
    <ui-step [value]="1">Basic Info</ui-step>
    <ui-step [value]="2">Loads</ui-step>
    <ui-step [value]="3">Review</ui-step>
  </ui-step-list>
  <ui-step-panels>
    <ui-step-panel [value]="1">
      <ng-template uiStepContent>
        <!-- Basic info form-->
        <app-trip-wizard-basic [disabled]="disabled()" />
      </ng-template>
    </ui-step-panel>
    <ui-step-panel [value]="2">
      <ng-template uiStepContent>
        <!-- Loads table -->
        <app-trip-wizard-loads [disabled]="disabled()" />
      </ng-template>
    </ui-step-panel>
    <ui-step-panel [value]="3">
      <ng-template uiStepContent>
        <!-- Review step -->
        <app-trip-wizard-review
          [saveButtonLabel]="mode() === 'create' ? 'Create' : 'Update'"
          (save)="processStep3()"
        />
      </ng-template>
    </ui-step-panel>
  </ui-step-panels>
</ui-stepper>
