<h1>Dashboard</h1>
<hr class="w-100">

<div class="row">
  <div class="col-12 col-xl-7">
    <p-card>
      <ng-template pTemplate="header">
        <div class="ms-3 py-2 fw-bold">Active drivers</div>
        <hr class="w-100 m-0" />
      </ng-template>
      <div id="map"></div>
    </p-card>
  </div>

  <div class="col-12 col-xl-5 mt-3 mt-xl-0">
    <p-card styleClass="h-100">
      <ng-template pTemplate="header">
        <div class="ms-3 py-2 fw-bold">Recent loads</div>
        <hr class="w-100 m-0" />
      </ng-template>

      <p-table [value]="loads" responsiveLayout="scroll" [loading]="loadingLoads">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Driver</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-load>
          <tr>
            <td>
              <a [routerLink]="['/loads/edit', load.id]">
                {{load.refId}}
              </a>
            </td>
            <td [pTooltip]="load.sourceAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.sourceAddress}}
            </td>
            <td [pTooltip]="load.sourceAddress" [showDelay]="500" tooltipPosition="bottom">
              {{load.destinationAddress}}
            </td>
            <td>{{load.assignedDriverName}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="4">
              <button pButton 
                class="p-button-raised" 
                routerLink="/loads/edit"
                label="Add">
              </button>
              <button pButton 
                class="p-button-raised ms-2" 
                routerLink="/loads"
                label="View all loads">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<div class="row">
  <div class="col-12 mt-3">
    <p-card>
      <ng-template pTemplate="header">
        <div class="ms-3 py-2 fw-bold">Weekly Report</div>
        <hr class="w-100 m-0" />
      </ng-template>
      <div class="d-flex justify-content-between">
        <div class="px-2">
          <span class="text-secondary text-uppercase">Total Gross:</span><br/>
          <span class="fw-bold fs-3">{{weeklyGross | currency}}</span>
        </div>
        <div class="px-2">
          <span class="text-secondary text-uppercase">Billed Miles:</span><br/>
          <span class="fw-bold fs-3">{{weeklyDistance | distanceUnit:'mi'}}</span>
        </div>
        <div class="px-2">
          <span class="text-secondary text-uppercase">Rate Per Mile:</span><br/>
          <span class="fw-bold fs-3">{{rpm | currency}}</span>
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-7 mt-3">
    <p-card>
      <ng-template pTemplate="header">
        <div class="ms-3 py-2 fw-bold">Daily Gross</div>
        <hr class="w-100 m-0" />
      </ng-template>
      <div class="row">
        <div class="col-12 col-md-3 mb-2">
          <span class="fw-bold">Today Gross:</span><br/>
          <span class="fw-bold fs-3">{{todayGross | currency}}</span>
        </div>
        <div class="col-12 col-md-9">
          <p-chart type="line" [data]="chartData" [options]="chartOptions" width="40vw" height="20vh"></p-chart>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 col-xl-5 mt-3">
    <p-card>
      <ng-template pTemplate="header">
        <div class="ms-3 py-2 fw-bold">Pages</div>
        <hr class="w-100 m-0" />
      </ng-template>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="col-5 col-xl-7"></th>
            <th scope="col" class="col-7 col-xl-5"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="fw-bold">Employees</span>
            </td>
            <td>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-pencil"
                routerLink="/employees/add"
                label="Add">
              </button>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-list"
                routerLink="/employees"
                label="List">
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <span class="fw-bold">Trucks</span>
            </td>
            <td>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-pencil"
                routerLink="/trucks/edit"
                label="Add">
              </button>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-list"
                routerLink="/trucks"
                label="List">
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <span class="fw-bold">Loads</span>
            </td>
            <td>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-pencil"
                routerLink="/loads/edit"
                label="Add">
              </button>
              <button pButton 
                class="p-button-raised ms-2"
                icon="bi bi-list"
                routerLink="/loads"
                label="List">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </p-card>
  </div>
</div>