<p-toast key="notification" position="top-right" />
<p-confirm-dialog header="Confirmation" icon="pi pi-exclamation-triangle" />

<h1 class="text-center">{{ title() }}</h1>
<hr class="w-full" />

<div class="row justify-content-center">
  <div class="col-md-6 col-12">
    <p-card>
      @if (isLoading()) {
        <p-progress-spinner />
      }
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label for="truckNumber" class="form-label">Truck Number</label>
          <input formControlName="truckNumber" id="truckNumber" class="form-control" />
        </div>
        <!-- <div class="mb-3">
          <label for="driverIncomePercentage" class="form-label">Driver Income Percentage</label>
          <div class="input-group">
            <span class="input-group-text">%</span>
            <input formControlName="driverIncomePercentage" id="driverIncomePercentage" class="form-control" type="number" min="0" max="100" />
          </div>
        </div> -->
        <div class="mb-3">
          <label for="drivers" class="form-label">Drivers</label>
          <p-auto-complete
            formControlName="drivers"
            styleClass="w-full"
            inputStyleClass="form-control"
            placeholder="Type a driver name"
            optionLabel="fullName"
            [minLength]="2"
            [multiple]="true"
            [suggestions]="suggestedDrivers()"
            (completeMethod)="searchDriver($event)"
          />
        </div>

        <div class="mt-3 flex gap-3">
          <p-button
            type="submit"
            icon="pi pi-pen-to-square-square"
            label="Save"
            [disabled]="isLoading()"
          />
          @if (id()) {
            <p-button
              type="button"
              icon="pi pi-trash"
              label="Delete"
              severity="danger"
              [disabled]="isLoading()"
              (click)="confirmToDelete()"
            />
          }
          <p-button
            type="button"
            icon="pi pi-arrow-left"
            label="Back to list"
            [routerLink]="['/trucks']"
          />
        </div>
      </form>
    </p-card>
  </div>
</div>
