<ui-autocomplete-field
  class="w-full"
  [placeholder]="placeholder()"
  [minQueryLength]="2"
  [delay]="300"
  optionLabel="name"
  [disabled]="disabled()"
  [suggestions]="suggestedTerminals()"
  [(value)]="value"
  (completeMethod)="searchTerminal($event)"
  (touch)="touch.emit()"
>
  <ng-template #empty>
    <div class="p-2">
      <span class="text-muted-foreground text-sm">
        No terminals matching
        <b>"{{ lastQuery() }}"</b>
      </span>
    </div>
  </ng-template>
  <ng-template let-terminal #item>
    <div class="flex flex-col">
      <div class="font-medium">{{ terminal.code }} - {{ terminal.name }}</div>
      <div class="text-muted-foreground text-xs">{{ terminal.countryCode }}</div>
    </div>
  </ng-template>
</ui-autocomplete-field>
