<div @ref="_elementRef" @onmouseover="@ShowTooltip">
    @ChildContent
</div>

@code {
    private ElementReference _elementRef;

    [Inject] 
    private TooltipService TooltipService { get; set; } = default!;

    [Parameter, EditorRequired] 
    public string Text { get; set; } = default!;
    
    [Parameter]
    public TooltipPosition Position { get; set; }

    [Parameter]
    public int Delay { get; set; } = 500;
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private void ShowTooltip()
    {
        TooltipService.Open(_elementRef, Text, new TooltipOptions
        {
            Position = Position,
            Delay = Delay
        });
    }
}
