<div class="flex flex-col">
  <form [formGroup]="form" (ngSubmit)="goToNextStep()">
    <ui-validation-summary [form]="form" />

    <ui-labeled-field label="Trip Name" for="tripName" [required]="true">
      <input
        pInputText
        id="tripName"
        formControlName="tripName"
        type="text"
        placeholder="Trip name"
      />
    </ui-labeled-field>

    <ui-labeled-field label="Assigned Truck" for="truck">
      <app-search-truck formControlName="truck" />
    </ui-labeled-field>

    <div class="flex justify-between pt-6">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        label="Back to list"
        [routerLink]="['/trips']"
      />
      <p-button type="submit" icon="pi pi-arrow-right" iconPos="right" label="Next" />
    </div>
  </form>
</div>
