name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  PRESENTATION_PROJECTS_DIR: ./src/Presentation
  CLIENT_PROJECTS_DIR: ./src/Client

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install dependencies
        run: dotnet restore

      #- name: Verify formatting
      #  run: dotnet format --verify-no-changes --no-restore

      - name: Build Web API
        run: dotnet build ${{ env.PRESENTATION_PROJECTS_DIR }}/Logistics.API/Logistics.API.csproj

      - name: Build Identity Server
        run: dotnet build ${{ env.PRESENTATION_PROJECTS_DIR }}/Logistics.IdentityServer/Logistics.IdentityServer.csproj

      - name: Build Admin App
        run: dotnet build ${{ env.CLIENT_PROJECTS_DIR }}/Logistics.AdminApp/Logistics.AdminApp.csproj

  build-office-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        working-directory: ${{ env.CLIENT_PROJECTS_DIR }}/Logistics.OfficeApp
        run: bun install --force

      - name: Build
        working-directory: ${{ env.CLIENT_PROJECTS_DIR }}/Logistics.OfficeApp
        run: bun run build

  build-maui:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install MAUI workloads
        run: |
          dotnet workload install android
          dotnet workload install ios
          dotnet workload install maui

      - name: Install dependencies
        run: dotnet restore

      #- name: Verify formatting
      #  run: dotnet format --verify-no-changes --no-restore

      - name: Build Maui App
        run: dotnet build ${{ env.CLIENT_PROJECTS_DIR }}/Logistics.DriverApp/Logistics.DriverApp.csproj
